<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/vant.css">
		<link rel="stylesheet" href="Resource/css/coupon.css" />
		<title>我的优惠券</title>
		<script src="Resource/js/flexible.js"></script>
		<script src="Resource/js/vue.min.js"></script>
		<script src="Resource/js/vant.js"></script>
		<script src="Resource/js/jquery.min.js"></script>
		<script src="Resource/js/common.js"></script>
		<style>
			.list {
				height: 100%;
				background: rgb(251,251,251);
			}
			
			.warn {
				display: flex;
				flex-direction: column;
				width: 100%;
				flex:1;
				align-items: center;
				justify-content: center;
			}
			
			.warn img {
				width: 120px;
				height: 120px;
			}
			
			.warn span {
				font-size: 12px;
				color: rgb(70,155,150);
			}
		</style>
	</head>

	<body>
		<div id="app" class="list" v-cloak>
			<van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
				<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
					<div class="list_item" v-for="v in list" @click="use(v.couponId,v.amount,v.price)">
						<div class="list_left">
							<span class="money">￥{{v.amount}}</span>
							<span class="use">满{{v.price}}可用</span>
						</div>
						<div class="list_right">
							<span class="name">{{v.shopName}}</span>
							<span class="time">{{v.endTime}}到期</span>
						</div>
					</div>
				</van-pull-refresh>
			</van-list>
			<div class="warn" v-if="onOff">
				<img src="Resource/images/data.png" alt="">
				<span>您还没有领取优惠券呦~</span>
			</div>
		</div>

		<script>
			var card = new Vue({
				el: '#app',
				data: {
					isLoading: false,
					list: [],
					loading: false,
					finished: false,
					page: 1,
					totalPage: 10,
					onOff: false
				},
				methods: {
					onRefresh: function() {
						var self = this
						this.list = [];
						this.page = 1;
						this.totalPage = 10;
						this.onLoad();
						setTimeout(function() {
							self.$toast('刷新成功');
							self.isLoading = false;
						}, 500);
					},
					onLoad: function() {
						var shopId=GetQueryString("shopId");
						//注意在此处的滚动加载必须产生滚动条所以多加载几条数据
						if (this.page <= this.totalPage) {
							var datas = {
								uid: uid,
								shopId:shopId,
								page: this.page
							}
							queryData('/couponList', datas, this.successLoad);
							this.page++;
							// 加载状态结束
							this.loading = false;
						} else {
							this.loading = false;
							this.finished = true;
						}
					},
					successLoad: function(res) {
						if (res.result == 0) {
							this.totalPage = res.totalPage;
							if (res.dataList == undefined || res.dataList.length == 0) {
								this.onOff = true;
							} else if (res.dataList.length > 0) {
								this.onOff = false;
								for (var i = 0; i < res.dataList.length; i++) {
									this.list.push(res.dataList[i]);
								}
							}
							return this.list;
						}
					},
					use: function(id,amount,price) {
						sessionStorage.setItem('id', id);
						sessionStorage.setItem('amount', amount);
						sessionStorage.setItem('price', price);
						window.history.go(-1);
					}
				}
			})
		</script>
	</body>

</html>
