<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/vant.css">
		<link rel="stylesheet" href="Resource/css/hail-fellow.css" />
		<title>我的好友</title>
		<script src="Resource/js/flexible.js"></script>
		<script src="Resource/js/vue.min.js"></script>
		<script src="Resource/js/vant.js"></script>
		<script src="Resource/js/jquery.min.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script src="Resource/js/common.js"></script>
		<style>
			.list {
				height: 100%;
				background: rgb(251, 251, 251);
			}

			.warn {
				display: flex;
				width: 100%;
				flex: 1;
				align-items: center;
				justify-content: center;
			}

			.warn img {
				width: 120px;
				height: 120px;
			}

			.bg {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .6);
				position: absolute;
				left: 0;
				top: 0;
			}
			
			.wx-tip {
				width: 60px;
				position: absolute;
				top: 10px;
				right: 10px;
			}
			
			.share_text {
				width: 60%;
				position: absolute;
				left: 50%;
				top: 100px;
				margin-left: -30%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			.share_text p {
				color: #fff;
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<div id="app" class="list">
			<div class="top_img">
				<img @click.stop="share" src="Resource/images/ban.png" alt="" />
			</div>
			<van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
				<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
					<div class="list_wrapper">
						<div class="list_item" v-for="(v,k) in list">
							<div class="user">
								<div class="user_img">
									<img :src="v.userIcon" alt="" />
								</div>
								<span>{{v.userName}}</span>
							</div>
							<span class="time">{{v.adtime}}</span>
						</div>
					</div>
				</van-pull-refresh>
			</van-list>
			<div class="warn" v-if="onOff">
				<img src="Resource/images/no.png" alt="">
			</div>
		</div>
		<div class="bg">
			<img class="wx-tip" src="Resource/images/weixin-tip.png" alt="">
			<div class="share_text">
				<p>请点击右上角</p>
				<p>选择分享</p>
			</div>
		</div>

		<script>
			var app = new Vue({
				el: "#app",
				data: {
					isLoading: false,
					list: [],
					loading: false,
					finished: false,
					page: 1,
					totalPage: 10,
					onOff: false
				},
				methods: {
					onRefresh: function() {
						var self = this
						this.list = [];
						this.page = 1;
						this.totalPage = 10;
						this.onLoad();
						setTimeout(function() {
							self.$toast('刷新成功');
							self.isLoading = false;
						}, 500);
					},
					onLoad: function() {
						//注意在此处的滚动加载必须产生滚动条所以多加载几条数据
						if (this.page <= this.totalPage) {
							var datas = {
								uid: uid,
								page: this.page
							}
							queryData('/myFriends', datas, this.successLoad);

							this.page++;
							// 加载状态结束
							this.loading = false;
						} else {
							this.loading = false;
							this.finished = true;
						}
					},
					successLoad: function(res) {
						if (res.result == 0) {
							this.totalPage = res.totalPage;
							if (res.dataList == undefined || res.dataList.length == 0) {
								this.onOff = true;
							} else if (res.dataList.length > 0) {
								this.onOff = false;
								for (var i = 0; i < res.dataList.length; i++) {
									this.list.push(res.dataList[i]);
								}
							}
							return this.list;
						}
					},
					share: function() {
						$('.bg').show();
					}
				}
			});

			$('.bg').hide();
			$('.bg').click(function() {
				hide();
			});

			function hide() {
				$('.bg').hide();
			}

			//分享给朋友
			var url = location.href.split('#')[0];
			$.ajax({
				url: publicUrl + '/scan',
				method: "post",
				dataType: "json",
				data: {
					url: url
				},
				success: function(res) {
					console.log(res)
					if (res.result == '0') {
						var appId = res.appId;
						var timestamp = res.timestamp;
						var nonceStr = res.noncestr;
						var signature = res.signature;
						shareFriend(appId, timestamp, nonceStr, signature);
					}
				}
			});

			//分享到朋友圈
			$.ajax({
				url: publicUrl + '/scan',
				method: "post",
				dataType: "json",
				data: {
					url: url
				},
				success: function(res) {
					console.log(res)
					if (res.result == '0') {
						var appId = res.appId;
						var timestamp = res.timestamp;
						var nonceStr = res.noncestr;
						var signature = res.signature;
						shareMenu(appId, timestamp, nonceStr, signature);
					}
				}
			});

			function shareFriend(appId, timestamp, nonceStr, signature) {
				wx.config({
					// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					debug: false,
					// 必填，公众号的唯一标识
					appId: appId,
					// 必填，生成签名的时间戳
					timestamp: timestamp,
					// 必填，生成签名的随机串
					nonceStr: nonceStr,
					// 必填，签名，见附录1
					signature: signature,
					// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage']
				});
				wx.error(function(res) {
					//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
					alert("扫码出错了1：" + res.errMsg)
				});
				wx.ready(function() {
					wx.onMenuShareAppMessage({
						title: '分享给朋友送礼物', // 分享标题
						desc: '小伙伴们开始发红包了~', // 分享描述
						link: 'https://gongxiang.thekingbull.com/gzh/no.html?inviteId=' + uid,
						imgUrl: 'https://gongxiang.thekingbull.com/gzh/Resource/images/logo.png', // 分享图标
						type: 'link', // 分享类型,music、video或link，不填默认为link
						dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
						success: function() {
							$('.bg').hide();
							alert('分享成功');
							// 用户确认分享后执行的回调函数
						},
						cancel: function() {
							$('.bg').hide();
							alert('分享失败');
							// 用户取消分享后执行的回调函数
						}
					});
				});
			}

			function shareMenu(appId, timestamp, nonceStr, signature) {
				wx.config({
					// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					debug: false,
					// 必填，公众号的唯一标识
					appId: appId,
					// 必填，生成签名的时间戳
					timestamp: timestamp,
					// 必填，生成签名的随机串
					nonceStr: nonceStr,
					// 必填，签名，见附录1
					signature: signature,
					// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage']
				});
				wx.error(function(res) {
					//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
					alert("扫码出错了1：" + res.errMsg)
				});
				wx.ready(function() {
					wx.onMenuShareTimeline({
						title: '分享给朋友送礼物', // 分享标题
						link: 'https://gongxiang.thekingbull.com/gzh/no.html?inviteId=' + uid, 
						imgUrl: 'https://gongxiang.thekingbull.com/gzh/Resource/images/logo.png', // 分享图标
						success: function() {
							$('.bg').hide();
							alert('分享成功');
							// 用户确认分享后执行的回调函数
						},
						cancel: function() {
							$('.bg').hide();
							alert('分享失败');
							// 用户取消分享后执行的回调函数
						}
					});
				});
			}
		</script>
	</body>

</html>
