<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/vant.css">
		<link rel="stylesheet" href="Resource/css/near_shop.css" />
		<title>附近商铺</title>
		<style>
			.container {
				height: 100%;
				background: rgb(251,251,251);
			}
			
			.warn {
				display: flex;
				flex-direction: column;
				width: 100%;
				flex:1;
				align-items: center;
				justify-content: center;
			}
			
			.warn img {
				width: 120px;
				height: 120px;
			}
			
			.warn span {
				font-size: 12px;
				color: rgb(70,155,150);
			}
			
			.guide {
				height: 1.6rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			[v-cloak] {
				display: none !important;
			}
		</style>
	</head>

	<body>
		<div id="app" class="container" v-cloak>
			<van-search v-model="value" placeholder="请输入搜索关键词" show-action shape="round">
				<div slot="action" @click="onSearch">搜索</div>
			</van-search>
			<van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
				<van-pull-refresh v-model="isLoading" @refresh="onRefresh">
					<div class="list">
						<div class="list_item" v-for="v in list" @click="goEnter(v.shopId,v.lat,v.lon)">
							<div class="list_img">
								<img :src="v.shopIcon" alt="" />
							</div>
							<div class="list_content">
								<h3>{{v.shopName}}</h3>
								<div class="list_address">
									<img src="Resource/images/nav.png" alt="" />
									<span>{{v.address}}</span>
								</div>
							</div>
							<div class="guide">
								<div class="voucher">进店领券</div>
							</div>
						</div>
					</div>
				</van-pull-refresh>
			</van-list>
			<div class="warn" v-if="onOff">
				<img src="Resource/images/data.png" alt="">
				<span>暂时没有搜索到附近的店铺呦~</span>
			</div>
			<div id="container" style="display: none;"></div>
		</div>
		<script src="Resource/js/vue.js"></script>
		<script src="Resource/js/vant.js"></script>
		<script src="Resource/js/flexible.js"></script> 
		<script src="Resource/js/jquery.min.js"></script> 
		<script src="Resource/js/common.js"></script>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.11&key=953b0c33eebadeb84681e6e9d2d14031"></script>
		<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
		<script>
			// var lat, lon, datas;
			var app = new Vue({
				el: "#app",
				data: {
					isLoading: false,
					list: [],
					loading: false,
					finished: false,
					page: 1,
					totalPage: 10,
					onOff: false,
					value: ''
				},
				methods: {
					onSearch: function(e) {
						var self = this;
						this.list = [];
						this.page = 1;
						this.totalPage = 10;
						this.onLoad();
					},
					onRefresh: function() {
						var self = this
						this.list = [];
						this.page = 1;
						this.totalPage = 10;
						this.onLoad();
						setTimeout(function() {
							self.$toast('刷新成功');
							self.isLoading = false;
						}, 500);
					},
					pos: function() {
						var self = this
						var map = new AMap.Map("container", {
							resizeEnable: true,
							zoom: 17, //地图显示的缩放级别
							keyboardEnable: false
						});

						AMap.plugin('AMap.Geolocation', function() {
							geolocation = new AMap.Geolocation({
								enableHighAccuracy: true, //是否使用高精度定位，默认:true
								timeout: 10000, //超过10秒后停止定位，默认：无穷大
								maximumAge: 0, //定位结果缓存0毫秒，默认：0
								convert: true, //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
								showButton: true, //显示定位按钮，默认：true
								buttonPosition: 'LB', //定位按钮停靠位置，默认：'LB'，左下角
								buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
								showMarker: true, //定位成功后在定位到的位置显示点标记，默认：true
								showCircle: true, //定位成功后用圆圈表示定位精度范围，默认：true
								panToLocation: true, //定位成功后将定位到的位置作为地图中心点，默认：true
								zoomToAccuracy: true //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
							});
							map.addControl(geolocation);
							geolocation.getCurrentPosition(function(status, result) {
								if (status == "complete") {
									console.log('789')
									lat = result.position.lat;
									lon = result.position.lng;
									sessionStorage.setItem('lat', lat);
									sessionStorage.setItem('lon', lon);
									datas = {
										lon: lon,
										lat: lat,
										page: self.page
									}
									queryData('/nearbyShop', datas, self.successLoad);
								} else {
									console.log(status)
								}
							});
							AMap.event.addListener(geolocation, 'complete', onComplete); //返回定位信息
							AMap.event.addListener(geolocation, 'error', onError); //返回定位出错信息
						});
					},
					onLoad: function() {
						var self = this
						if (this.page <= this.totalPage) {
							if (sessionStorage.getItem('lat') && sessionStorage.getItem('lon')) {
								var datas = {
									lat: sessionStorage.getItem('lat'),
									lon: sessionStorage.getItem('lon'),
									keyword: self.value,
									page: this.page
								}
								queryData('/nearbyShop', datas, this.successLoad);
							} else {
								this.pos()
							}
							// this.totalPage = res.totalPage;
							// for (var i = 0; i < res.dataList.length; i++) {
							// 	this.list.push(res.dataList[i]);
							// }
							// console.log(this.list);
							// this.page++;
							// // 加载状态结束
							this.loading = false;
						} else {
							this.loading = false;
							this.finished = true;
						}
					},
					successLoad: function(res) {
						if (res.result == 0) {
							this.totalPage = res.totalPage;
							if (res.dataList == undefined || res.dataList.length == 0) {
								this.onOff = true;
							} else if (res.dataList.length > 0) {
								this.onOff = false;
								for (var i = 0; i < res.dataList.length; i++) {
									this.list.push(res.dataList[i]);
								}
								this.page++;
							}
							return this.list;
						}
					},
					goMap: function(lat, lon, name) {
						var self = this
						var url = location.href.split('#')[0]
						$.ajax({
							url: publicUrl + '/scan',
							method: "post",
							dataType: "json",
							data: {
								url: url
							},
							success: function(res) {
								if (res.result == '0') {
									var appId = res.appId;
									var timestamp = res.timestamp;
									var nonceStr = res.noncestr;
									var signature = res.signature;
									self.openMap(appId, timestamp, nonceStr, signature, lat, lon, name)
									console.log(appId, timestamp, nonceStr, signature, lat, lon, name, '传的参数')
								}
							}
						})
					},
					openMap: function(appId, timestamp, nonceStr, signature, lat, lon, name) {
						wx.config({
							// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
							debug: false,
							// 必填，公众号的唯一标识
							appId: appId,
							// 必填，生成签名的时间戳
							timestamp: timestamp,
							// 必填，生成签名的随机串
							nonceStr: nonceStr,
							// 必填，签名，见附录1
							signature: signature,
							// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
							jsApiList: ['checkJsApi', 'scanQRCode', 'openLocation']
						});
						wx.error(function(res) {
							//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
							alert(res.errMsg)
						});
						wx.ready(function() {
							wx.openLocation({
								latitude: lat, // 纬度，浮点数，范围为90 ~ -90
								longitude: lon, // 经度，浮点数，范围为180 ~ -180。
								name: '我的位置', // 位置名
								address: name, // 地址详情说明
								scale: 20, // 地图缩放级别,整形值,范围从1~28。默认为最大
								infoUrl: 'http://www.gongju.net' // 在查看位置界面底部显示的超链接,可点击跳转（测试好像不可用）
							})
						});
					},
					goEnter: function(id,lat,lon) {
						window.location.href = "./couponList.html?id=" + id + '&lat=' + lat + '&lon=' + lon
					}
					// coupon: function(id) {
					// 	datas = {
					// 		uid: uid,
					// 		shopId: id
					// 	}
					// 	queryData('/addCoupon', datas, this.successCoupon);
					// },
					// successCoupon: function(res) {
					// 	console.log(res)
					// 	if (res.result == 0) {
					// 		this.$toast('领取成功');
					// 	} else {
					// 		this.$toast(res.resultNote)
					// 	}
					// }
				}
			})
		</script>
	</body>

</html>
