html,
body,
#container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}

.bottom {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: rgba(255,156,8,.9);
	text-align: center;
	font-size: 15px;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
}

.nav {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 80px;
}

.zero {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 36px;
	top: 70%;
	z-index: 10;
}

.zero img {
	width: 100%;
	height: 100%;
}

.nav_left {
	width: 64px;
	/* height: 100%; */
	float: left;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.nav_right {
	width: 64px;
	/* height: 100%; */
	float: right;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.mark {
	display: block;
	width: 100%;
	height: 100%;
}

.mark img {
	width: 100%;
	height: 100%;
}

.amap-logo {
	display: none !important;
}

.amap-copyright {
	display: none !important;
}

.amap-controls {
	display: none !important;
}

[v-cloak] {
    display: none !important;
}

.btns {
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.coupon {
	border-right: 1px solid #fff;
	box-sizing: border-box;
}

	

