body {
	background: #FFFFFF;
	width: 100%;
	height: 100%;
}

.list {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.navTop {
	width: 100%;
	height: 44px;
	line-height: 44px;
	background: #47c6f2;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 32px;
	color: #fff;
	z-index: 20;
}

[data-dpr="1"] .navTop {
	font-size: 16px;
}

[data-dpr="3"] .navTop {
	font-size: 48px;
}

.back {
	position: absolute;
	width: 10px;
	height: 15px;
	top: 14px;
	left: 0.4rem;
}

.car_list {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 50px;
}

.car_title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem 0;
	border-bottom: 1px solid #eee;
}

.car_left {
	width: 100%;
	display: flex;
	align-items: center;
}

.car_log {
	width: 0.6rem;
}

.car_left>span {
	font-size: 28px;
	color: #333;
	margin-left: 0.5rem;
}

[data-dpr="1"] .car_left>span {
	font-size: 14px;
}

[data-dpr="3"] .car_left>span {
	font-size: 42px;
}

.car_right_img {
	width: 0.25rem;
}

.car_clock {
	width: 100%;
	overflow: hidden;
	display: flex;
	margin: 0.8rem 0;
}

.car_clock img {
	width: 22px;
	height: 292px;
}

.car_time {
	width: auto;
	overflow: hidden;
	margin-left: 0.5rem;
}

.car_time li h4 {
	font-size: 28px;
	color: #333;
	margin: 0;
}

[data-dpr="1"] .car_time li h4 {
	font-size: 14px;
}

[data-dpr="3"] .car_time li h4 {
	font-size: 42px;
}

.car_time li div {
	font-size: 28px;
	color: #999;
	margin-top: 6px;
}

[data-dpr="1"] .car_time li div {
	font-size: 14px;
}

[data-dpr="3"] .car_time li div {
	font-size: 42px;
}

.no {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.no img {
	width: 3rem;
	height: 3rem;
	margin: 1rem 0;
}

.no span {
	font-size: 28px;
	color: #333;
}

[data-dpr="1"] .no span {
	font-size: 14px;
}

[data-dpr="3"] .no span {
	font-size: 42px;
}

[v-cloak] {
    display: none !important;
}
