.icon1 {
	background: url(../images/icon1_light.png) no-repeat;
	background-size: 100% 100%;
}

.icon2 {
	background: url(../images/icon2.png) no-repeat;
	background-size: 100% 100%;
}

.icon3 {
	background: url(../images/icon3.png) no-repeat;
	background-size: 100% 100%;
}

.icon4 {
	background: url(../images/icon4.png) no-repeat;
	background-size: 100% 100%;
}