body {
	background: #fff;
}

.list {
	width: 100%;
	padding: 60px 0.4rem 0.5rem;
	box-sizing: border-box;
}

.list h3 {
	width: 100%;
	text-align: center;
	font-size: 40px;
	color: #333;
	margin-top: 0.6rem;
}

[data-dpr="1"] .list h3 {
	font-size: 20px;
}

[data-dpr="3"] .list h3 {
	font-size: 60px;
}

.used {
	width: 100%;
	font-size: 28px;
	color: #999;
	text-align: center;
}

[data-dpr="1"] .used {
	font-size: 14px;
}

[data-dpr="3"] .used {
	font-size: 42px;
}

#btn {
	display: block;
	width: 90%;
	margin: 1rem auto 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #19B8EF;
	border-radius: 6px;
	padding: 0;
	border: none;
	color: #fff;
	font-size: 30px;
}

[data-dpr="1"] #btn {
	font-size: 15px;
}

[data-dpr="3"] #btn {
	font-size: 45px;
}

.navTop {
	width: 100%;
	height: 44px;
	line-height: 44px;
	background: #47c6f2;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 32px;
	color: #fff;
	z-index: 20;
}

[data-dpr="1"] .navTop {
	font-size: 16px;
}

[data-dpr="3"] .navTop {
	font-size: 48px;
}

.back {
	position: absolute;
	width: 10px;
	height: 15px;
	top: 14px;
	left: 0.4rem;
}

.van-dialog__message {
	text-align: center;
}

[v-cloak] {
    display: none !important;
}