.nav {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 46px;
	left: 0;
	z-index: 5;
	background: #fff;
}

.nav_contain {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.logo {
	float: left;
	width: 15%;
	height: 60px;
	margin-top: 20px;
}

.logo>img {
	width: 70px;
	height: 70px;
}

.nav-item {
	float: left;
	width: 70%;
	height: 100px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.nav-item>li>a {
	display: inline-block;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	color: #333;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: 500;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.active {
	color: #ff9000 !important;
	border-bottom: 4px solid #ff9000;
}



