.bottom{
	margin-top: 60px;
}

.tab{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.detail_list{
	width: 1200px;
	margin: 146px auto 0;
	overflow: hidden;
}

.detail_top{
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.detail_img{
	float: left;
	width: 582px;
	height: 370px;
}

.detail_img img{
	width: 100%;
	height: 100%;
}

.detail_right{
	float: right;
	width: 48%;
	height: 100%;
	padding: 10px 0;
	box-sizing: border-box;
}

.t_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #333;
	font-weight: 550;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.t_content{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #999;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-top: 10px;
}

.t_introduce{
	width: 100%;
	padding: 15px 0;
	overflow: hidden;
	border-bottom: 2px solid #eee;
	font-size: 16px;
	color: #999;
}

.t_choice{
	width: 100%;
	overflow: hidden;
}

.t_choice li{
	padding: 4px 12px;
	text-align: center;
	background: #e6e6e6;
	font-size: 14px;
	color: #333;
	float: left;
	margin-right: 20px;
	cursor: default;
	border-radius: 4PX;
}

.choice_type{
	background: #FF9000 !important;
	color: #fff !important;
}

.t_price{
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
}

.t_date{
	display: flex;
	align-items:center;
	float: left;
}

.t_date span{
	font-size: 14px;
	color: #999;
	margin-left: 20px;
}

.t_tel{
	display: flex;
	align-items:center;
	float: right;
}

.t_tel img{
	width: 20px;
	height: 20px;
}

.t_tel span{
	font-size: 14px;
	color: #333;
	margin-left: 8px;
}

.t_add{
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items:center;
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom: 2px solid #eee;
}

.t_btn{
	width: 100%;
	overflow: hidden;
	padding: 30px 0;
}

.ivu-input-number:hover{
	border: 1px solid #FF9000 !important;
}

.ivu-btn-large{
	padding: 5px 40px !important;
}

.tab_list{
	width: 1200px;
	margin: 0 auto;
}

.tab_title{
	width: 100%;
	height: 60px;
	background: #f8f8f9;
	padding: 15px 30px;
	box-sizing: border-box;
}

.tab_cap{
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	color: #666;
	margin-right: 60px;
	cursor: default;
}

.tab_change{
	color: #FF9000 !important;
}

.tab_text{
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
}

.tab_text>p{
	font-size: 15px;
	color: #666;
	text-align: justify;
	text-indent: 32px;
	margin-bottom: 30px;
}

.tab_img{
	width: 970px;
	height: 380px;
	margin: 0 auto 15px;
}

.tab_img img{
	width: 100%;
	height: 100%;
}

.comment_list{
	width: 100%;
	overflow: hidden;
}

.c_user{
	width: 15%;
	display: flex;
	align-items:center;
	justify-content:space-between;
	float: left;
}

.self{
	flex:0 0 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

.self>img{
	width: 100%;
	height: 100%;
}

.c_user>span{
	width: 70px;
	display: inline-block;
	font-size: 16px;
	color: #333;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-left: 10px;
	height: 21px;
	line-height: 21px;
}

.c_content{
	width: 84%;
	overflow: hidden;
	float: right;
	border-bottom: 2px solid #f8f8f9;
}

.c_contain{
	width: 100%;
	overflow: hidden;
}

.c_time{
	display: flex;
	align-items:center;
	height: 50px;
	float: left;
}

.c_month,.r_date{
	display: inline-block;
	height: 21px;
	line-height: 21px;
	font-size: 16px;
	color: #333;
}

.c_hour{
	font-size: 16px;
	color: #333;
	margin-left: 16px;
	margin-top: 4px;
}

.r_time{
	font-size: 16px;
	color: #333;
	margin-left: 16px;
}

.ivu-rate{
	margin-left: 30px;
}

.ivu-rate-star-content:before, .ivu-rate-star:before{
	font-size: 30px !important;
}

.c_right{
	float: right;
	display: flex;
	align-items:center;
	justify-content:flex-end;
	height: 50px;
}

.c_response{
	width: 100%;
	font-size: 16px;
	color: #333;
	text-align: justify;
	padding: 15px 0;
}

.response_img{
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}

.response_img li{
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 16px;
	margin-bottom: 16PX;
}

.response_img li img{
	width: 100%;
	height: 100%;
}

.self_response{
	width: 100%;
	padding: 20px 16px;
	font-size: 16px;
	color: #333;
	background: #f8f8f9;
	margin-bottom: 20px;
}

.self_response span{
	color: #FF9000;
	font-size: 16px;
}

.tab_content>p{
	width: 100%;
	margin-bottom: 30px;
}

.tab_content>p>img{
	width: 100% !important;
}

.ivu-page{
	display: flex;
	align-items:center;
	justify-content:center;
}

.ivu-page-item-active a, .ivu-page-item-active:hover a{
	color: #ff9000 !important;
}

.ivu-page-item-active{
	border-color: #ff9000 !important;
}

.ivu-page li:hover{
	border-color: #ff9000 !important;
}

.ivu-page li:hover a{
	color: #ff9000 !important;
}

[v-cloak] {
    display: none !important;
}

.msg_page {
	width: 60%;
	margin: 80px auto 0;
	overflow: hidden;
}

.ivu-page {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ivu-page-item-active a,
.ivu-page-item-active:hover a {
	color: #ff9000 !important;
}

.ivu-page-item-active {
	border-color: #ff9000 !important;
}

.ivu-page li:hover {
	border-color: #ff9000 !important;
}

.ivu-page li:hover a {
	color: #ff9000 !important;
}
