.list_all{
	width: 100%;
	background: #fff;
	overflow: hidden;
}

.list_watch{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.list_location{
	width: 100%;
	overflow: hidden;
	margin-top: 24px;
}

.list_location h5{
	width: 50px;
	float: left;
	font-size: 16px;
	color: #999;
	padding: 30px 0 0;
}

.province{
	width: 1140px;
	padding: 30px 0 0;
	overflow: hidden;
	box-sizing: border-box;
	float: right;
}

.type{
	width: 100%;
	overflow: hidden;
}

.market{
	width: 1140px;
	overflow: hidden;
	float: right;
}

.province li,.market li,.type li{
	float: left;
	font-size: 16px;
	color: #333;
	margin-right: 30px;
	margin-bottom: 15px;
	cursor: pointer;
}

.font{
	color: #ff9000 !important;
}

.ivu-page{
	display: flex;
	justify-content:center;
	margin-bottom: 80px;
}

.ivu-page-item-active a, .ivu-page-item-active:hover a{
	color: #ff9000 !important;
}

.ivu-page-item-active{
	border-color: #ff9000 !important;
}

.ivu-page li:hover{
	border-color: #ff9000 !important;
}

.ivu-page li:hover a{
	color: #ff9000 !important;
}

[v-cloak] {
    display: none !important;
}
