<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>商务用户注册</title>
		<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/header.css" />
		<link rel="stylesheet" href="Resource/css/bottom.css" />
		<link rel="stylesheet" href="Resource/css/business_register.css" />
		<style>
			.ivu-input-search {
				background: #FF9000 !important;
				border-color: #FF9000 !important;
			}
			
			.ivu-input-search:hover {
				background: #FF9000 !important;
				border-color: #FF9000 !important;
			}
			
			.ivu-input:hover {
				border-color: #FF9000 !important;
			}
			
			.ivu-input:focus {
				border-color: #FF9000 !important;
				box-shadow: 0 0 0 #FF9000 !important;
			}
			
			.ivu-select-visible .ivu-select-selection{
				border: 1px solid #FF9000;
				box-shadow: none;
			}
			
			.ivu-select-visible .ivu-select-selection:hover{
				border: 1px solid #FF9000;
				box-shadow: none;
			}
			
			.ivu-select-selection-focused,.ivu-select-selection:hover{
				border: 1px solid #FF9000;
			}
			
			.ivu-select-item-selected, .ivu-select-item-selected:hover{
				color: #FF9000;
			}
			.ivu-form-item {
				margin-bottom: 24px !important;
			}
			.yanzheng{
				position: relative;
				box-sizing: border-box;
			}
			.zhezhao{
				height: 36px;
				width: 120px;
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(0,0,0,.1);
				z-index: 200;
				border-radius: 4px;
				border-bottom-left-radius: 0!important;
    			border-top-left-radius: 0!important;
    			border-left: 0;
    			box-sizing: border-box;
    			margin-top: 1px;
    			display: none;
			}
			.ivu-input-search{
				width: 120px;
			}
		</style>
	</head>

	<body>
		<div class="contain" id="app" v-cloak>
			<header>
				<div class="h_contain">
					<div class="h_left" style="padding-left: 0;">请切换城市</div>
					<a class="h_right" href="http://gongxiang.thekingbull.com/a">
						<span style="margin-left: 30px;">服务商入口</span>
					</a>
					<a class="h_right" href="./pay_center.html?url=1">
						<img style="margin-left: 30px;" src="Resource/image/fenlei.png" alt="" />
						<span>我的订单</span>
					</a>
					<div class="h_box">
						<a class="h_right" href="./business_register.html">
							<span style="margin-left: 30px;">请注册服务商</span>
						</a>
						<a class="h_right" href="./register.html">
							<span style="margin-left: 30px;">请注册用户</span>
						</a>
						<a class="h_right" href="./login.html">
							<span style="margin-left: 30px;">请登录</span>
						</a>
					</div>
				</div>
			</header>
			<div class="top_list">
				<div class="register_top">
					<div class="logo">
						<img src="Resource/image/logo.png" alt="" />
					</div>
					<div class="back-header">
						<img src="Resource/image/souyes.png" alt="" />
						<a href="./index.html">返回首页</a>
					</div>
				</div>
			</div>
			<div class="register_main">
				<div class="form_box">
					<h3>注册商务用户</h3>
					<div class="form_list">
						<template>
							<i-form ref="formItem" :model="formItem" :rules="ruleValidate">
								<form-item class="register_type" prop="type">
									<i-select v-model="formItem.type" @on-change="selectType" placeholder="请选择商户类型">
										<i-option value="1">线下广告</i-option>
										<i-option value="2">网络广告</i-option>
										<i-option value="3">素材设计</i-option>
									</i-select>
								</form-item>
								<form-item class="register_choice" prop="choice">
									<i-select v-model="formItem.choice" placeholder="请选择类型">
										<i-option v-for="item in choiceList" :value="item.value">
											{{ item.label }}
										</i-option>
									</i-select>
								</form-item>
								<form-item style="clear:both;" prop="proName">
									<template>
										<cascader :data="data1" change-on-select='true' v-model="proName" @on-change="proChange" placeholder="请选择您所在省／直辖市（必填）"></cascader>
									</template>
								</form-item>
								<form-item style="clear:both;" prop="cityName">
									<template>
										<cascader :data="selectCity" change-on-select='true' v-model="cityName" @on-change="cityChange" placeholder="请选择您所在市（必填）"
										 @on-visible-change="test"></cascader>
									</template>
								</form-item>
								<form-item style="clear:both;" prop="townName">
									<template>
										<cascader :data="selectTown" change-on-select='true' v-model="townName" @on-change="townChange" placeholder="请选择您所在区／县（必填）"
										 @on-visible-change="test"></cascader>
									</template>
								</form-item>
								<form-item prop="address">
									<i-input size="large" type="text" v-model="formItem.address" placeholder="请输入店铺地址">
									</i-input>
								</form-item>
								<form-item prop="three">
									<i-input size="large" type="text" v-model="formItem.three" placeholder="请输入店铺／账号名称（必填）">
									</i-input>
								</form-item>
								<form-item prop="linker">
									<i-input size="large" type="text" v-model="formItem.linker" placeholder="请输入联系人">
									</i-input>
								</form-item>
								<form-item prop="phone">
									<i-input size="large" type="text" v-model="formItem.phone" placeholder="请输入联系方式">
									</i-input>
								</form-item>
								<form-item class="yanzheng" prop="num">
									<i-input size="large" type="text" v-model="formItem.num" placeholder="请输入验证码" @on-search="getNum" search
									 enter-button="发送验证码"></i-input>
									<div class="zhezhao"></div>
								</form-item>
								<form-item prop="passwd">
									<i-input size="large" type="password" v-model="formItem.passwd" placeholder="请输入密码"></i-input>
								</form-item>
								<form-item prop="passwdCheck">
									<i-input size="large" type="password" v-model="formItem.passwdCheck" placeholder="请再次输入密码"></i-input>
								</form-item>
								<div class="business_all">
									<div class="licence_upload">
										<div class="all_img img1">
											<img :src="url_1?url_1:'Resource/image/tianjiatup.png'" alt="" @click="editor1" />
											<input type="file" class="editor_btn editor_btn1" @change="editorImg1" />
										</div>
										<div class="dis">请上传相关证明</div>
										<div class="dis">(截图/营业执照)</div>
									</div>
									<div class="weibo_upload">
										<div class="all_img img2">
											<img :src="url_2?url_2:'Resource/image/shilitu.png'" alt="" @click="editor2" />
											<input type="file" class="editor_btn editor_btn2" @change="editorImg2" />
										</div>
										<div class="dis">微博示例</div>
									</div>
									<div class="weibo_upload">
										<div class="all_img img3">
											<img :src="url_3?url_3:'Resource/image/shilitu.png'" alt="" @click="editor3" />
											<input type="file" class="editor_btn editor_btn3" @change="editorImg3" />
										</div>
										<div class="dis">微信示例</div>
									</div>
								</div>
								<div style="width: 80%;margin: 20px auto 0;">
									<form-item>
										<i-button size="large" type="warning" @click="handleSubmit('formItem')" long>提交审核</i-button>
									</form-item>
								</div>
							</i-form>
						</template>
					</div>
				</div>
			</div>
			<bottom-list></bottom-list>
		</div>

		<script src="Resource/js/vue.js"></script>
		<script src="Resource/js/iview.js"></script>
		<script src="Resource/js/jquery.js"></script>
		<script src="Resource/js/common.js"></script>
		<script src="Resource/js/header.js"></script>
		<script src="Resource/js/bottom.js"></script>
		<script src="Resource/js/list_province.js"></script>
		<script src="Resource/js/list_city.js"></script>
		<script src="Resource/js/list_town.js"></script>
		<script type="text/javascript">
			new Vue({
				el: "#app",
				data() {
					var phoneNumReg = /^1[3|4|5|7|8]\d{9}$/
					var self = this
					var validateCity = function(rule, value, callback) {
						if (value === []) {
							callback(new Error('请选择城市'));
						} else {
							callback();
						}
					}
					var validateUser = function(rule, value, callback) {
						if (value === '') {
							callback(new Error('请输入手机号'));
						} else if (!phoneNumReg.test(value)) {
							callback(new Error('请输入正确的手机号码'));
						} else {
							callback();
						}
					}
					var validatePassCheck = function(rule, value, callback) {
						if (value === '') {
							callback(new Error('请再次输入密码'));
						} else if (value !== self.formItem.passwd) {
							callback(new Error('两次密码输入不一致'));
						} else {
							callback();
						}
					}
					return {
						url_1: '',
						url_2: '',
						url_3: '',
						selected: [],
						data1: address_province.RECORDS,
						data2: [],
						data3: [],
						countdown: 60,
						timer: null,
						proName: '',
						cityName: '',
						townName: '',
						formItem: {
							type: 0,
							choice: '',
							address: '',
							three: '',
							linker: '',
							phone: '',
							num: '',
							passwd: '',
							passwdCheck: '',
							imgUrl: []
						},
						ruleValidate: {
							type: [{
								required: true,
								message: '请选择类型',
								trigger: 'change'
							}],
							choice: [{
								required: true,
								message: '请选择种类',
								trigger: 'change'
							}],
							address: [{
								required: true,
								message: '地址不能为空',
								trigger: 'blur'
							}],
							three: [{
								required: true,
								message: '用户名不能为空',
								trigger: 'blur'
							}],
							num: [{
								required: true,
								message: '验证码不能为空',
								trigger: 'blur'
							}],
							linker: [{
								required: true,
								message: '联系人不能为空',
								trigger: 'blur'
							}],
							phone: [{
								validator: validateUser,
								trigger: 'blur'
							}],
							passwd: [{
									required: true,
									message: '请输入密码',
									trigger: 'blur'
								},
								{
									type: 'string',
									min: 6,
									max: 12,
									message: '密码长度必须在6到12位之间',
									trigger: 'blur'
								}
							],
							passwdCheck: [{
								validator: validatePassCheck,
								trigger: 'blur'
							}]
						}
					}
				},
				computed: {
					selectCity: function() {
						return this.data2
					},
					selectTown: function() {
						return this.data3
					},
					choiceList: function() {
						return this.selected
					}
				},
				methods: {
					selectType: function(item) {
						var self = this
						self.selected = []
						var typeData = {
							type: item
						}
						queryData('/shopCategoryList', typeData, function(res) {
							if (res.result == 0) {
								if (res.dataList) {
									for (let i = 0; i < res.dataList.length; i++) {
										self.selected.push({
											value: res.dataList[i].categoryId,
											label: res.dataList[i].categoryName
										})
									}
								}
							}
						})
					},
					getNum: function() {
						var data = {
							phone: this.formItem.phone
						}
						queryData('/checkPhone', data, this.getNumber)
					},
					getNumber: function(res) {
						var data = {
							phone: this.formItem.phone
						}
						if (res.existence == 0) {
							this.settime()
							queryData('/sendSms', data)
						} else if (res.existence == 1) {
							this.$Message.warning('手机号码已经注册')
							return
						}
					},
					settime: function() {
						if (this.countdown == 0) {
							$('.ivu-input-group-append').html("获取验证码");
							$('.zhezhao').hide();
							clearTimeout(this.timer);
							this.countdown = 60;
							return false;
						} else {
							$('.ivu-input-group-append').html("重新发送" + this.countdown);
							$('.zhezhao').show();
							this.countdown--;
							var that = this;
							this.timer = setTimeout(function() {
								that.settime();
							}, 1000);
						}
					},
					proChange: function(value, selectedData) {
						this.data2 = []
						this.formItem.cityName = []
						this.formItem.townName = []
						var city = address_city.RECORDS
						for (var i = 0; i < city.length; i++) {
							if (city[i].pvalue == value[0]) {
								this.data2.push(city[i])
							}
						}
						this.proName = value[0]
						console.log(this.proName, '省份')
					},
					test: function() {
						if (this.data2.length == 0) {
							this.$Message.success('请先选择省份')
							return
						}
					},
					cityChange: function(value, selectedData) {
						if (this.data2 == []) {
							this.$Message.success('请先选择省份')
							return
						}
						this.data3 = []
						this.formItem.townName = []
						var town = address_town.RECORDS
						for (var i = 0; i < town.length; i++) {
							if (town[i].cvalue == value[0]) {
								this.data3.push(town[i])
							}
						}
						this.cityName = value[0]
						console.log(this.cityName, '市份')
					},
					townChange: function(value, selectedData) {
						console.log(this.proName)
						if (!this.proName) {
							this.$Message.success('请先选择省份')
							return
						}
						this.townName = value[0]
						console.log(this.townName, '县份')
					},
					handleSubmit(name) {
						var self = this
						this.$refs[name].validate(function(valid) {
							if (valid) {
								if (self.url_1 !== '') {
									self.formItem.imgUrl.push(self.url_1)
								}

								if (self.url_2 !== '') {
									self.formItem.imgUrl.push(self.url_2)
								}

								if (self.url_3 !== '') {
									self.formItem.imgUrl.push(self.url_3)
								}

								var data = {
									type: self.formItem.type,
									categoryId: self.formItem.choice,
									provinceId: self.proName,
									cityId: self.cityName,
									townId: self.townName,
									address: self.formItem.address,
									nickName: self.formItem.three,
									realName: self.formItem.linker,
									phone: self.formItem.phone,
									validate: self.formItem.num,
									password: self.formItem.passwd,
									images: self.formItem.imgUrl
								}
								console.log(data)
								if (data.images.length < 3) {
									self.$Message.error('请上传图片');
									return
								} else {
									queryData('/shopRegist', data, self.getSuccess)
								}
							} else {
								self.$Message.error('注册失败!!!');
							}
						})
					},
					getSuccess: function(res) {
						var self = this
						if (res.result == 0) {
							self.$Message.success('注册成功');
						} else {
							self.$Message.error('注册失败,' + res.resultNote);
							console.log(res.resultNote);
						}
					},
					choiceCity: function(value) {
						this.formItem.value1 = value[0]
						console.log(value)
					},
					editor1: function() {
						$('.editor_btn1').click()
					},
					editor2: function() {
						$('.editor_btn2').click()
					},
					editor3: function() {
						$('.editor_btn3').click()
					},
					editorImg2: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_2 = this.result
						}
					},
					editorImg3: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_3 = this.result
						}
					},
					editorImg1: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_1 = this.result
						}
					},
				}
			})
		</script>
	</body>

</html>
