<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/header.css" />
		<link rel="stylesheet" href="Resource/css/source_detail.css" />
		<link rel="stylesheet" href="Resource/css/nav.css" />
		<link rel="stylesheet" href="Resource/css/list.css" />
		<link rel="stylesheet" href="Resource/css/bottom.css" />
		<title>素材设计详情页</title>
		<style>
			.ivu-icon-ios-arrow-up:before {
				content: '+'
			}
			
			.ivu-icon-ios-arrow-down:before {
				content: '-'
			}
			
			.ivu-input-number-handler-wrap {
				opacity: 1;
			}
		</style>
	</head>

	<body>
		<div class="container" id="app" v-cloak>
			<header-show></header-show>
			<div class="tab">
				<nav-top :set-data="navList" :item-index="itemIndex" @choice="choice"></nav-top>
			</div>
			<template v-for="vm in detailData">
				<div class="detail_list">
					<div class="detail_top">
						<div class="detail_img">
							<img :src="vm.images[0]" alt="" />
						</div>
						<div class="detail_right">
							<h3 class="t_title">{{vm.shopName}}</h3>
							<div class="t_content">{{vm.introduction}}</div>
							<div class="t_introduce">
								<ul class="t_choice">
									<li :class="choiceIndex == index?'choice_type':''" v-for="(item,index) in vm.skuList"
									@click="choiceType(item.skuId,index,item.skuPrice)"
									>{{item.skuName}}</li>
								</ul>
							</div>
							<div class="t_price">
								<div class="t_date">
									<span class="t_num" style="font-size: 20px;color: red;margin-left: 0;">
									￥{{choicePrice?choicePrice:vm.skuList[0].skuPrice}}
									</span>
									<span>单位：100次</span>
									<span>月销：{{vm.sales}}</span>
								</div>
								<div class="t_tel">
									<img src="Resource/image/dianhau.png" alt="" />
									<span>{{vm.phone}}</span>
								</div>
							</div>
							<div class="t_add">
								<span>数量：</span>
								<template>
									<input-number :min="1" v-model="value1" @on-change="count"></input-number>
								</template>
							</div>
							<div class="t_btn">
								<i-button size="large" type="warning" @click="fixData">立即预定</i-button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab_list">
					<div class="tab_title">
						<div :class="{tab_change: tabIndex == k}" class="tab_cap" v-for="(v,k) in tabList" @click="tabChange(k)">
							{{v.title}}</div>
					</div>
					<div class="tab_text" v-show="tabIndex == 0">
						<div class="tab_content" v-html="contents"></div>
					</div>
					<div class="tab_text" v-show="tabIndex == 1">
						<div class="comment_list" v-for="v in commentData">
							<div class="c_user">
								<div class="self">
									<img :src="v.userIcon" alt="" />
								</div>
								<span>{{v.userName}}</span>
							</div>
							<div class="c_content">
								<div class="c_contain">
									<div class="c_time">
										<span class="c_month">{{v.adtime}}</span>
										<template>
											<rate disabled v-model="valueDisabled" />
										</template>
									</div>
								</div>
								<p class="c_response">{{v.content}}</p>
								<ul class="response_img">
									<li v-for="s in v.images">
										<img :src="s" alt="" />
									</li>
								</ul>
								<p class="self_response">
									商家回复：
									<span>{{v.reply}}</span>
								</p>
							</div>
						</div>
						<div class="msg_page">
							<template>
								<Page :total="msgPage" :page-size="2" @on-change="getPage" />
							</template>
						</div>
					</div>
					<div class="tab_text" v-show="tabIndex == 2">
						<source-list :source-data="sourceData" @sourceurl="sourceurl"></source-list>
						<template>
							<Page style="margin: 40px 0;" :total="totalPage" page-size="8" @on-change="getPage" />
						</template>
					</div>
				</div>
			</template>
			<bottom @back="back"></bottom>
		</div>

		<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.12/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/iview/3.1.4/iview.js"></script>
		<script src="Resource/js/header.js"></script>
		<script src="Resource/js/nav.js"></script>
		<script src="Resource/js/common.js"></script>
		<script src="Resource/js/list.js"></script>
		<script src="Resource/js/bottom.js"></script>
		<script>
			new Vue({
				el: "#app",
				data: {
					msgPage: 0,
					value1: 1,
					itemIndex: 3,
					choiceIndex: 0,
					choiceId:'',
					choicePrice:0,
					tabIndex: 0,
					valueDisabled: 4,
					detailUrl:'',
					detailType:'',
					detailData:[],
					commentData:[],
					contents:'',
					navList: [{
							title: "首页",
							url:"./index.html"
						},
						{
							title: "线下广告",
							url:"./watch.html"
						},
						{
							title: "网络广告",
							url:"./net.html"
						},
						{
							title: "素材设计",
							url:"./source.html"
						}
					],
					tabList: [{
							title: "商品介绍"
						},
						{
							title: "评价列表"
						},
						{
							title: "案例展示"
						}
					],
					sourceData: [],
					totalPage:1,
					nowPage: 0
				},
				mounted:function(){
					//判断用户登录
					loginUser()
					//初始化详情页面数据
					this.initData()
					//获取评论列表
					this.initComment()
					//案例展示数据初始化
					this.showList()
				},
				methods: {
					getPage: function(page) {
						this.nowPage = page
						var data = {
							shopId: getRequest('shopId'),
							page:page,
							pageCount:2
						}
						queryData('/commentList', data, this.getComment)
					},
					choice: function(item) {
						this.itemIndex = item;
					},
					count: function(val) {
						this.money = 300 * val
					},
					tabChange: function(item) {
						this.tabIndex = item
					},
					choiceType: function(id,index,price) {
						this.choiceIndex = index
						this.choiceId = id
						this.choicePrice = price
					},
					initData: function() {
						this.detailUrl = getRequest('shopId')
						this.detailType = getRequest('type')
						var data = {
							shopId: this.detailUrl,
							type: this.detailType
						}
						queryData('/shopDetail', data, this.getDetail)
					},
					getDetail: function(res) {
						console.log(res)
						if(res !== undefined) {
							this.choiceId = res.skuList[0].skuId;
							this.detailData.push(res)
							this.contents = this.unescape(this.detailData[0].content)
						}
					},
					initComment:function(){
						var data = {
							shopId: getRequest('shopId'),
							page:1,
							pageCount:2
						}
						queryData('/commentList', data, this.getComment)
					},
					getComment:function(res){
						console.log(res)
						if(res !== undefined) {
							this.commentData = res.dataList
						}
					},
					fixData: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid:uid,
							shopId: this.detailUrl,
							type: this.detailType,
							skuId: this.choiceId,
							count:this.value1
						}
						console.log(data)
						queryData('/reserve', data, this.getReserve)
					},
					getReserve: function(res) {
						console.log(res)
						this.$Message.success('预定成功');
					},
					showList:function(){
						var psData = {
							page: 1,
							pageCount:8
						}
						queryData('/designList', psData, this.getSourceData)
					},
					getSourceData: function(res) {
						this.sourceData = []
						if(res.dataList !== undefined) {
							this.sourceData = res.dataList
							this.totalPage = res.totalPage * 8
						}
						return this.sourceData
					},
					getPage:function(page){
						var data = {
							page: page,
							pageCount:8
						}
						queryData('/designList', data, this.getSourceData)
					},
					back: function() {
						timer = setInterval(function() {
							let osTop = document.documentElement.scrollTop || document.body.scrollTop
							let ispeed = Math.floor(-osTop / 5)
							document.documentElement.scrollTop = document.body.scrollTop = osTop + ispeed
							this.isTop = true
							if(osTop === 0) {
								clearInterval(timer)
							}
						}, 30)
					},
					unescape: function(html) {
						return html
							.replace(html ? /&(?!#?\w+;)/g : /&/g, '&amp;')
							.replace(/&lt;/g, "<")
							.replace(/&gt;/g, ">")
							.replace(/&quot;/g, "\"")
							.replace(/&#39;/g, "\'");
					},
					sourceurl:function(id){
						window.location.href = './source_detail.html?shopId='+id+'&type=3'
					}
				}
			})
		</script>
	</body>

</html>