<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
		<link rel="stylesheet" href="Resource/css/demo.css" />
		<link rel="stylesheet" href="Resource/css/header.css" />
		<link rel="stylesheet" href="Resource/css/pay_center.css" />
		<link rel="stylesheet" href="Resource/css/nav.css" />
		<link rel="stylesheet" href="Resource/css/bottom.css" />
		<title>支付订单</title>
		<style>
			.ivu-input-search {
				background: #FF9000 !important;
				border-color: #FF9000 !important;
			}
			
			.ivu-input-search:hover {
				background: #FF9000 !important;
				border-color: #FF9000 !important;
			}
			
			.ivu-input:hover {
				border-color: #FF9000 !important;
			}
			
			.ivu-input:focus {
				border-color: #FF9000 !important;
				box-shadow: 0 0 0 #FF9000 !important;
			}
			
			.ivu-select-visible .ivu-select-selection {
				border: 1px solid #FF9000;
				box-shadow: none;
			}
			
			.ivu-select-visible .ivu-select-selection:hover {
				border: 1px solid #FF9000;
				box-shadow: none;
			}
			
			.ivu-select-selection-focused,
			.ivu-select-selection:hover {
				border: 1px solid #FF9000;
			}
			
			.ivu-select-item-selected,
			.ivu-select-item-selected:hover {
				color: #FF9000;
			}
			
			.ivu-input-group-append {
				font-size: 15px;
			}
			
			.yanzheng,
			.shouji {
				position: relative;
				box-sizing: border-box;
			}
			
			.zhezhao,
			.shoumodel {
				height: 32px;
				width: 120px;
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(0, 0, 0, .1);
				z-index: 200;
				border-radius: 4px;
				border-bottom-left-radius: 0!important;
				border-top-left-radius: 0!important;
				border-left: 0;
				box-sizing: border-box;
				margin-top: 1px;
				display: none;
			}
			
			.ivu-input-search {
				width: 120px;
			}
		</style>
	</head>

	<body>
		<div class="container" id="app" v-cloak>
			<header-top></header-top>
			<nav-top :set-data="navList" :item-index="itemIndex"></nav-top>
			<div class="order">
				<div class="order_wrapper">
					<div class="center_left">
						<div class="center_user">
							<div class="center_img">
								<img :src="userPic" alt="" />
							</div>
							<div class="center_name">{{userName}}</div>
						</div>
						<div class="center_tab">
							<ul class="center_list">
								<li v-for="(v,k) in centerList" :class="{center_add:centerIndex == k}" @click="changeTab(k)">
									{{v.title}}
								</li>
							</ul>
						</div>
					</div>
					<div class="center_right" v-show="centerIndex == 0">
						<div class="right_tab">
							<ul>
								<li>消息中心</li>
							</ul>
						</div>
						<div class="msg_list">
							<div class="msg_item" v-for="(v,k) in msgItem">
								<div class="slide">
									<div class="msg_date">
										<span style="font-size: 18px;margin-bottom: 8px;">06</span>
										<span>16:06</span>
									</div>
									<div class="msg_content">
										<h3>{{v.title}}</h3>
										<p>{{v.content}}</p>
									</div>
								</div>
								<div class="del" @click="delMsg(v.msgId)">
									<img src="Resource/image/shanchu2.png" alt="" />
								</div>
							</div>
							<Modal title="信息中心" v-model="modalMsg" width="360" class-name="vertical-center-modal" @on-ok="delMsgData">
								<p>确定删除此条信息吗</p>
							</Modal>
							<div class="msg_page">
								<template>
									<Page :total="msgPage" :page-size="3" @on-change="getPage" />
								</template>
							</div>
						</div>
					</div>
					<div class="center_right" v-show="centerIndex == 1">
						<div class="right_tab">
							<ul>
								<li :class="{order_add:orderIndex == k}" v-for="(v,k) in myOrder" @click="getOrder(k)">
									{{v.title}}
								</li>
							</ul>
						</div>
						<div class="list_contain" v-show="orderIndex == 0">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box all_order" v-for="(v,k) in allList">
								<div class="order_detail">
									<div class="order_choice">
										<div class="order_number">
											<label @click="getCheck">
												<img src="Resource/image/xuan.png" />
												<input type="checkbox" />
											</label>
											<span>订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">{{v.adtime}}</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li v-if="v.months != ''">
												选择月份：<span>{{v.months}}</span>
											</li>
											<li v-if="v.skuName != ''">
												选择规格：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<template v-if="v.status == 0">
										<div class="wait_pay_order">
											<a href="javascript:;"  class="wait_pay" @click="payOreder(v.orderId,v.amount)">支付订单</a>
											<div class="del_order" style="color: #FF9000 !important;" @click="delAllOrder(v.orderId,$event)">
												删除订单
											</div>
										</div>
									</template>
									<template v-else-if="v.status == 1">
										<div class="order_list_clcik">
											<div class="accept_order">待受理</div>
										</div>
									</template>
									<template v-else-if="v.status == 2">
										<div class="order_list_clcik">
											<div class="accept_order" @click="upLoader(v.orderId)">待上传</div>
										</div>
									</template>
									<template v-else-if="v.status == 3">
										<div class="order_list_clcik">
											<div class="accept_order">拒绝受理</div>
										</div>
										<div class="refuse">
											<img src="Resource/image/zhuyi.png" alt="" />
											<span>拒绝原因：{{v.reason}}</span>
										</div>
									</template>
									<template v-else-if="v.status == 4">
										<div class="order_list_clcik">
											<div class="accept_order">待审核</div>
										</div>
									</template>
									<template v-else-if="v.status == 5">
										<div class="sure_click">
											<div v-if="v.feedback == 0" style="color: #999;">未反馈</div>
											<div v-else-if="v.feedback == 1" style="color: #999;">已反馈</div>
											<div style="color: #FF9000;" @click='responseAllOrder(v.orderId)'>确认订单</div>
										</div>
									</template>
									<template v-else-if="v.status == 6">
										<div class="order_list_clcik">
											<div class="accept_order">审核失败</div>
										</div>
									</template>
									<template v-else-if="v.status == 7">
										<div class="order_list_clcik">
											<div style="color: #999;">已完成</div>
											<div v-if="v.comment == 0" style="color: #FF9000;" @click="changeIndex(v.orderId)">评价</div>
											<div v-else-if="v.comment == 1" style="color: #999;">已评价</div>
											<div class="del_order reduce" @click="delFinishedOrder(v.orderId,$event)">删除</div>
										</div>
									</template>
								</div>
							</div>
							<template>
								<Page style="margin: 40px 0;" :total="allPage" page-size="3" @on-change="getAllPage" />
							</template>
						</div>
						<div class="list_contain" v-show="orderIndex == 1">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box pay_order" v-for="(v,k) in payList">
								<div class="order_detail">
									<div class="order_choice">
										<div class="order_number">
											<label @click="getCheck">
												<img src="Resource/image/xuan.png" />
												<input type="checkbox" />
											</label>
											<span>订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">2018-09-20 17：15:50</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li>
												选择月份：<span>{{v.months}}</span>
											</li>
											<li>
												选择时段：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<div class="wait_pay_order">
										<a href="javascript:;" class="wait_pay" @click="payOreder(v.orderId,v.amount)">支付订单</a>
										<div class="del_order" style="color: #FF9000 !important;" @click="delPayOrder(v.orderId,$event)">删除订单</div>
									</div>
								</div>
							</div>
							<template>
								<Page style="margin: 40px 0;" :total="payPage" page-size="3" @on-change="getPayPage" />
							</template>
						</div>
						<div class="list_contain" v-show="orderIndex == 2">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box" v-for="(v,k) in acceptList">
								<div class="order_detail">
									<div class="order_choice">
										<div class="order_number">
											<div class="left_mark">
												<img src="Resource/image/xuan.png" />
											</div>
											<span style="margin-left: 16px;">订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">{{v.adtime}}</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li>
												选择月份：<span>{{v.months}}</span>
											</li>
											<li>
												选择时段：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">￥{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<div class="order_list_clcik">
										<div class="accept_order">待受理</div>
									</div>
								</div>
							</div>
							<template>
								<Page style="margin: 40px 0;" :total="acceptPage" page-size="3" @on-change="getAcceptPage" />
							</template>
						</div>
						<div class="list_contain" v-show="orderIndex == 3">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box" v-for="(v,k) in verifyList">
								<div class="order_detail">
									<div class="order_choice">
										<div class="order_number">
											<div class="left_mark">
												<img src="Resource/image/xuan.png" />
											</div>
											<span style="margin-left: 16px;">订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">{{v.adtime}}</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li>
												选择月份：<span>{{v.months}}</span>
											</li>
											<li>
												选择时段：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">￥{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<div class="order_list_clcik">
										<a href="javascript:;" class="accept_order">待审核</a>
									</div>
								</div>
							</div>
							<template>
								<Page style="margin: 40px 0;" :total="verifyPage" page-size="3" @on-change="getVerifyPage" />
							</template>
						</div>
						<div class="list_contain" v-show="orderIndex == 4">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box" v-for="(v,k) in sureList">
								<div class="order_detail">
									<div class="order_choice">
										<div class="order_number">
											<div class="left_mark">
												<img src="Resource/image/xuan.png" />
											</div>
											<span style="margin-left: 16px;">订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">{{v.adtime}}</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li>
												选择月份：<span>{{v.months}}</span>
											</li>
											<li>
												选择时段：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">￥{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<div class="sure_click">
										<div v-if="v.feedback == 0" style="color: #999;">未反馈</div>
										<div v-else-if="v.feedback == 1" style="color: #999;">已反馈</div>
										<div style="color: #FF9000;" @click="responseOrder(v.orderId)">确认订单</div>
									</div>
								</div>
							</div>
							<template>
								<Page style="margin: 40px 0;" :total="surePage" page-size="3" @on-change="getSurePage" />
							</template>
						</div>
						<div class="list_contain" v-show="orderIndex == 5">
							<div class="order_title">
								<div class="o_msg">商品信息</div>
								<div class="o_other">价格</div>
								<div class="o_other">数量</div>
								<div class="o_other">小计</div>
								<div class="o_other">操作</div>
							</div>
							<div class="detail_box">
								<div class="order_detail finish_order" v-for="(v,k) in finishList">
									<div class="order_choice">
										<div class="order_number">
											<label @click="getCheck">
												<img src="Resource/image/xuan.png" />
												<input type="checkbox" />
											</label>
											<span>订单号：{{v.orderId}}</span>
										</div>
										<div class="order_time">{{v.adtime}}</div>
									</div>
									<div class="order_list_product">
										<img :src="v.shopIcon" alt="" />
										<span>{{v.shopName}}</span>
										<ul>
											<li>
												选择月份：<span>{{v.months}}</span>
											</li>
											<li>
												选择时段：<span>{{v.skuName}}</span>
											</li>
										</ul>
									</div>
									<div class="order_list_count">￥{{v.price}}</div>
									<div class="order_list_count">{{v.count}}</div>
									<div class="order_list_count">￥{{v.amount}}</div>
									<div class="order_list_clcik">
										<div style="color: #999;">已完成</div>
										<div v-if="v.comment == 0" style="color: #FF9000;" @click="changeIndex(v.orderId)">评价</div>
										<div v-else-if="v.comment == 1" style="color: #999;">已评价</div>
										<div class="del_order reduce" @click="delFinishOrder(v.orderId,$event)">删除</div>
									</div>
								</div>
								<template>
									<Page style="margin: 40px 0;" :total="finishPage" page-size="3" @on-change="getFinishPage" />
								</template>
							</div>
						</div>
						<div class="list_contain" v-show="orderIndex == 6">
							<div class="order_comment">
								<div class="comment_title">
									<img src="Resource/image/15.png" alt="" />
									<span>北京****老店铺</span>
									<template>
										<rate v-model="starValue" />
									</template>
								</div>
								<div class="comment_text">
									<textarea placeholder="请填写评价内容" v-model="finishComment"></textarea>
								</div>
								<ul class="img_upload">
									<li>
										<img class="preview" src="Resource/image/tianjiatup.png" @click="getImg" />
										<input name="url" type="file" class="upload_input" @change="getFile" />
									</li>
									<li v-for="(v,k) in src">
										<img :src="v.url" alt="" />
										<img class="del_icon" src="Resource/image/shoucang.png" @click="delImg(k)" />
									</li>
								</ul>
								<div class="submit_btn">
									<i-button size="large" type="warning" @click="goComment">提交</i-button>
								</div>
							</div>
						</div>
						<div class="list_contain" v-show="orderIndex == 7">
							<div class="uploadfile">
								<div class="upload">
									<div id="choice_files" class="choice_file">请选择上传文件</div>
									<form name="form1" id="form1">
										<input id="upfile" type="file" />
									</form>
									<p>上传的文件类型只能是doc、jpg、jpeg、png、zip为后缀的文件类型</p>
									<ul class="file_title">
										<li>
											<span>文件</span>
											<span>类型</span>
											<span>大小</span>
											<span>操作</span>
										</li>
									</ul>
									<ul id="file_list" class="file_list"></ul>
									<div id="start_upload" class="choice_file">上传文件</div>
								</div>
							</div>
						</div>
					</div>
					<div class="center_right" v-show="centerIndex == 2">
						<div class="right_tab">
							<ul>
								<li>基本信息</li>
							</ul>
						</div>
						<div class="msg_list" v-show="set_form == 0">
							<div class="modify_img">
								<span>当前头像：</span>
								<div class="modify_btn">
									<img id="img" class="mine" :src="userPic" alt="" />
									<div class="img_editor" @click="editor">编辑</div>
									<input name="icon" type="file" class="editor_btn editor_tx" @change="editorImg" />
								</div>
							</div>
							<div class="nick">
								<span>昵称：</span>
								<input class="nick_input" type="text" v-model="userName" />
							</div>
							<div class="modify_pass">
								<span>修改密码：</span>
								<div class="pass_star" @click="changeUrl">* * * * * * </div>
								<img src="Resource/image/gengduohui.png" alt="" />
							</div>
							<div class="modify_pass">
								<span>换绑手机：</span>
								<div class="pass_star" @click="changePhone">{{userTel}}</div>
								<img src="Resource/image/gengduohui.png" alt="" />
							</div>
							<div class="m_submit">
								<i-button size="large" type="warning" @click="modifySelf">保存</i-button>
							</div>
						</div>
						<template>
							<div class="msg_list" style="width: 55%;" v-show="set_form == 2">
								<i-form ref="formOldPhone" :model="formOldPhone" :rules="ruleOldPhone" label-position="left" :label-width="120">
									<form-Item label="手机号" prop="oldPhone">
										<i-input type="text" v-model="formOldPhone.oldPhone" placeholder="请输入原手机号"></i-input>
									</form-Item>
									<form-Item class="yanzheng" label="验证码" prop="validateNum">
										<i-input type="text" v-model="formOldPhone.validateNum" placeholder="请输入验证码" @on-search="getOldNum" search
										 enter-button="获取验证码"></i-input>
										<div class="zhezhao"></div>
									</form-Item>
									<div style="width: 80%;margin: 0 auto;">
										<form-item>
											<i-button size="large" type="warning" @click="handleOldPhone('formOldPhone')">下一步</i-button>
										</form-item>
									</div>
								</i-form>
							</div>
						</template>
						<template>
							<div class="msg_list" style="width: 55%;" v-show="set_form == 3">
								<i-form ref="formNewPhone" :model="formNewPhone" :rules="ruleNewPhone" label-position="left" :label-width="120">
									<form-Item label="手机号" prop="newPhone">
										<i-input type="text" v-model="formNewPhone.newPhone" placeholder="请输入新手机号"></i-input>
									</form-Item>
									<form-Item class="shouji" label="验证码" prop="validateNum">
										<i-input type="text" v-model="formNewPhone.validateNum" placeholder="请输入验证码" @on-search="getNewNum" search
										 enter-button="获取验证码"></i-input>
										<div class="shoumodel"></div>
									</form-Item>
									<div style="width: 80%;margin: 0 auto;">
										<form-item>
											<i-button size="large" type="warning" @click="handleNewPhone('formNewPhone')">完成</i-button>
										</form-item>
									</div>
								</i-form>
							</div>
						</template>
						<template>
							<div class="msg_list" style="width: 55%;" v-show="set_form == 1">
								<i-form ref="formModify" :model="formModify" :rules="ruleModify" label-position="left" :label-width="120">
									<form-Item label="旧密码" prop="oldPass">
										<i-input type="password" v-model="formModify.oldPass" placeholder="请输入旧密码"></i-input>
									</form-Item>
									<form-Item label="新密码" prop="newPass">
										<i-input type="password" v-model="formModify.newPass" placeholder="请输入新密码"></i-input>
									</form-Item>
									<form-Item label="确认密码" prop="checkPass">
										<i-input type="password" v-model="formModify.checkPass" placeholder="请重新输入密码"></i-input>
									</form-Item>
									<div style="width: 80%;margin: 0 auto;">
										<form-item>
											<i-button size="large" type="warning" @click="handleSubmit('formModify')">确认</i-button>
										</form-item>
									</div>
								</i-form>
							</div>
						</template>
					</div>
					<div class="center_right" v-show="centerIndex == 4">
						<div class="right_tab">
							<ul>
								<li>申请服务商</li>
							</ul>
						</div>
						<div class="service_list">
							<i-form ref="formItem" :model="formItem" :rules="ruleValidate">
								<form-item class="register_type" prop="type">
									<i-select v-model="formItem.type">
										<i-option value="">请选择注册类型</i-option>
										<i-option value="1">网络广告</i-option>
										<i-option value="2">素材设计</i-option>
									</i-select>
								</form-item>
								<form-item class="register_choice" prop="choice">
									<i-select v-model="formItem.choice">
										<i-option v-for="item in choiceList" :value="item.value">
											{{ item.label }}
										</i-option>
									</i-select>
								</form-item>
								<form-item style="clear:both;" prop="cityName">
									<template>
										<cascader :data="data" change-on-select='true' v-model="formItem.cityName"></cascader>
									</template>
								</form-item>
								<form-item prop="address">
									<i-input size="large" type="text" v-model="formItem.address" placeholder="请输入店铺地址">
									</i-input>
								</form-item>
								<form-item prop="three">
									<i-input size="large" type="text" v-model="formItem.three" placeholder="请输入三方平台用户名">
									</i-input>
								</form-item>
								<form-item prop="linker">
									<i-input size="large" type="text" v-model="formItem.linker" placeholder="请输入联系人">
									</i-input>
								</form-item>
								<div class="business_all">
									<div class="licence_upload">
										<div class="all_img img1">
											<img :src="url_1?url_1:'Resource/image/tianjiatup.png'" alt="" @click="editor1" />
											<input type="file" class="editor_btn editor_btn1" @change="editorImg1" />
										</div>
										<div class="dis">请上传相关证明</div>
										<div class="dis">(截图/营业执照)</div>
									</div>
									<div class="weibo_upload">
										<div class="all_img img2">
											<img :src="url_2?url_2:'Resource/image/shilitu.png'" alt="" @click="editor2" />
											<input type="file" class="editor_btn editor_btn2" @change="editorImg2" />
										</div>
										<div class="dis">微博示例</div>
									</div>
									<div class="weibo_upload">
										<div class="all_img img3">
											<img :src="url_3?url_3:'Resource/image/shilitu.png'" alt="" @click="editor3" />
											<input type="file" class="editor_btn editor_btn3" @change="editorImg3" />
										</div>
										<div class="dis">微信示例</div>
									</div>
								</div>
								<div class="shenhe">
									<form-item>
										<i-button size="large" type="warning" @click="handleRegister('formItem')">提交审核</i-button>
									</form-item>
								</div>
							</i-form>
						</div>
					</div>
					<div class="center_right" v-show="centerIndex == 3">
						<div class="right_tab">
							<ul>
								<li :class="{order_add:aboutIndex == k}" v-for="(v,k) in aboutList" @click="getAbout(k)">
									{{v.title}}
								</li>
							</ul>
						</div>
						<div class="msg_list" v-show="aboutIndex == 0">
							<div class="about">
								<textarea v-model="suggest" placeholder="请输入您的反馈意见"></textarea>
							</div>
							<div class="about">
								<button type="button" class="about_sub" @click="subAbout">提交</button>
							</div>
						</div>
						<div class="msg_list" v-show="aboutIndex == 1">
							<p class="about_msg">
								360导航的宗旨是方便网友们快速找到自已需要的网站，而不用去记太多复杂的网址，我的导航能让网友快速收藏喜爱的网站；同时提供多种搜索引擎入口、实用工具、快速充值、天气预报、团购导航、地方导航等特色服务。
								我们打破了传统网址导航站十几年来一成不变的沉闷局面，首创了“网址+APP聚合”的模式，树立了新一代导航网站的行业标准。我们引领的APP化、个性化、地域化、工具化等特点已经成为业内其他网址站的效仿对象，引领了行业潮流。作为业内最善于创新的网站，360安全网址研发推出了大量新功能。
							</p>
							<h3 class="about_tel">
								联系电话：
								<span>400-4523654</span>
							</h3>
							<h3 class="about_address" style="margin-top: 0px;">
								公司地址：
								<span>河南省郑州市金水区商都世贸中心D座2202室</span>
							</h3>
						</div>
						<div class="msg_list" v-show="aboutIndex == 2">
							<div class="web">
								<span>平台缓存：200M</span>
								<span class="web_clear">清除</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<bottom-list></bottom-list>
		</div>
		<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.12/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/iview/3.1.4/iview.js"></script>
		<!-- <script src="Resource/js/vue.js"></script>
		<script src="Resource/js/iview.js"></script>
		<script src="Resource/js/jquery.js"></script> -->
		<script src="Resource/js/md5.js"></script>
		<script src="Resource/js/header.js"></script>
		<script src="Resource/js/nav.js"></script>
		<script src="Resource/js/common.js"></script>
		<script src="Resource/js/bottom.js"></script>
		<script src="Resource/js/city.js"></script>
		<script>
			new Vue({
				el: "#app",
				data: function() {
					var self = this
					var validatePassCheck = function(rule, value, callback) {
						if (value === '') {
							callback(new Error('请再次输入密码'));
						} else if (value !== self.formModify.newPass) {
							callback(new Error('两次密码输入不一致'));
						} else {
							callback();
						}
					}
					var phoneNumReg = /^1[3|4|5|7|8]\d{9}$/
					var selfPhone = sessionStorage.getItem('phone')
					var validateUser = function(rule, value, callback) {
						if (value === '') {
							callback(new Error('请输入手机号码'));
						} else if (!phoneNumReg.test(value)) {
							callback(new Error('请输入正确的手机号码'));
						} else if (value !== selfPhone) {
							callback(new Error('原手机号码不正确'));
						} else {
							callback();
						}
					}
					var validateNew = function(rule, value, callback) {
						if (value === '') {
							callback(new Error('请输入手机号码'));
						} else if (!phoneNumReg.test(value)) {
							callback(new Error('请输入正确的手机号码'));
						} else {
							callback();
						}
					}
					var validateCity = function(rule, value, callback) {
						if (value === []) {
							callback(new Error('请选择城市'));
						} else {
							callback();
						}
					}
					return {
						allList: [],
						allPage: 0,
						allCurrentPage: 1,
						payList: [],
						payPage: 0,
						payCurrentPage: 1,
						acceptList: [],
						acceptPage: 0,
						verifyList: [],
						verifyPage: 0,
						sureList: [],
						surePage: 0,
						sureCurrentPage: 1,
						finishList: [],
						finishPage: 0,
						finishCurrentPage: 1,
						oredrId: '',
						finishComment: '',
						city: city,
						formModify: {
							oldPass: '',
							newPass: '',
							checkPass: ''
						},
						formOldPhone: {
							oldPhone: '',
							validateNum: ''
						},
						ruleOldPhone: {
							oldPhone: [{
								validator: validateUser,
								trigger: 'blur'
							}],
							validateNum: [{
								required: true,
								message: '验证码不能为空',
								trigger: 'blur'
							}]
						},
						formNewPhone: {
							newPhone: '',
							validateNum: ''
						},
						ruleNewPhone: {
							newPhone: [{
								validator: validateNew,
								trigger: 'blur'
							}],
							validateNum: [{
								required: true,
								message: '验证码不能为空',
								trigger: 'blur'
							}]
						},
						ruleModify: {
							oldPass: [{
									required: true,
									message: '请输入密码',
									trigger: 'blur'
								},
								{
									type: 'string',
									min: 6,
									max: 12,
									message: '密码长度必须在6到12位之间',
									trigger: 'blur'
								}
							],
							newPass: [{
									required: true,
									message: '请输入密码',
									trigger: 'blur'
								},
								{
									type: 'string',
									min: 6,
									max: 12,
									message: '密码长度必须在6到12位之间',
									trigger: 'blur'
								}
							],
							checkPass: [{
								validator: validatePassCheck,
								trigger: 'blur'
							}]
						},
						url_1: '',
						url_2: '',
						url_3: '',
						data: city,
						formItem: {
							type: '',
							choice: '',
							cityName: [],
							address: '',
							three: '',
							linker: '',
							imgUrl: []
						},
						ruleValidate: {
							cityName: [{
								type: 'array',
								required: true,
								message: '请选择城市',
								trigger: 'change'
							}],
							type: [{
								required: true,
								message: '请选择类型',
								trigger: 'change'
							}],
							choice: [{
								required: true,
								message: '请选择种类',
								trigger: 'change'
							}],
							address: [{
								required: true,
								message: '地址不能为空',
								trigger: 'blur'
							}],
							three: [{
								required: true,
								message: '用户名不能为空',
								trigger: 'blur'
							}],
							linker: [{
								required: true,
								message: '联系人不能为空',
								trigger: 'blur'
							}]
						},
						choiceList: [{
								value: '0',
								label: '请选择种类'
							},
							{
								value: '1',
								label: '网络广告'
							},
							{
								value: '2',
								label: '素材设计'
							},
							{
								value: '3',
								label: '微博'
							}
						],
						itemIndex: -1,
						centerIndex: 0,
						orderIndex: 0,
						check: false,
						starValue: 2,
						aboutIndex: 0,
						reviewIndex: 0,
						radioIndex: 0,
						set_form: 0,
						nowPage: 0,
						pageList: [],
						userPic: 'Resource/image/default.jpg',
						userName: '',
						userTel: '',
						suggest: '',
						fileOrder: '',
						countdown: 60,
						timer: null,
						phonedown: 60,
						phonetimer: null,
						navList: [{
								title: "首页",
								url: "./index.html"
							},
							{
								title: "电视广告",
								url: "./watch.html"
							},
							{
								title: "网络广告",
								url: "./net.html"
							},
							{
								title: "素材设计",
								url: "./source.html"
							}
						],
						centerList: [{
								title: "消息中心"
							},
							{
								title: "我的订单"
							},
							{
								title: "信息管理"
							},
							{
								title: "平台设置"
							},
							{
								title: "申请服务商"
							}
						],
						aboutList: [{
								title: "意见反馈"
							},
							{
								title: "关于我们"
							},
							{
								title: "清除缓存"
							}
						],
						reviewList: [{
								title: "提交素材"
							},
							{
								title: "反馈效果"
							}
						],
						radioList: [{
								title: "图文"
							},
							{
								title: "视频"
							}
						],
						msgItem: [],
						msgPage: 1,
						msgId: '',
						myOrder: [{
								title: "全部"
							},
							{
								title: "待支付"
							},
							{
								title: "待受理"
							},
							{
								title: "待审核"
							},
							{
								title: "待确认"
							},
							{
								title: "已完成"
							}
						],
						src: [],
						modalMsg: false
					}
				},
				mounted: function() {
					//判断用户登录
					loginUser()
					//获取sessionStorage数据
					this.userName = sessionStorage.getItem("userName")
					//this.userPic = sessionStorage.getItem("icon")
					this.userTel = sessionStorage.getItem("phone")
					this.userTel = this.userTel.substr(0, 3) + '****' + this.userTel.substr(7)

					//跳转到订单页面优先显示订单列表内容
					this.centerIndex = this.getRequest('url')

					//初始化消息中心数据
					this.initMsgData()
					//全部订单数据初始化
					this.allOrder()
					//待支付订单数据初始化
					this.payOrder()
					//待受理订单数据初始化
					this.acceptOrder()
					//待审批订单数据初始化
					this.verifyOrder()
					//待确认订单数据初始化
					this.sureOrder()
					//已完成订单数据初始化
					this.finishOrder()

					//选择上传文件
					var _this = this
					$('#choice_files').click(function() {
						$('#upfile').click()
					})
					//点击选择文件按钮选文件
					$('#upfile').on("change", function() {
						analysisList(this.files, _this);
					})
					//删除上传的文件
					$('.file_list').on("click", "a.operation", function() {
						var oTr = $(this).parents("li");
						var index = oTr.index();
						oTr.remove(); //删除这一行
						flieList.splice(index, 1); //删除数据
						sizeObj.splice(index, 1); //删除文件大小数组中的项
					})
					//开始上传
					$('#start_upload').click(function() {
						$('#start_upload').off()
						var len = $('.file_list').find('li')
						$('.file_list').off()
						var uid = sessionStorage.getItem("uid")
						var form = document.getElementById("form1");
						var formdata = new FormData(form);
						formdata.append('uid', uid)
						formdata.append('orderId', this.fileOrder)
						console.log(formdata)
						$.ajax({
							type: 'post',
							url: 'http://116.255.239.151:9080/api/uploadFile',
							data: formdata,
							cache: false,
							processData: false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
							contentType: false, // 不设置Content-type请求头
							success: function(res) {
								console.log(res)
							},
							error: function() {
								console.log('失败了')
							}
						})
					})
				},
				methods: {
					getFile: function(res) {
						console.log(res)
					},
					upLoader: function(id) {
						this.orderIndex = 7
						this.fileOrder = id
					},
					changeTab: function(item) {
						this.centerIndex = item
					},
					getOrder: function(item) {
						this.orderIndex = item
					},
					getCheck: function(item) {
						$('.order_detail label').each(function(i, ele) {
							$(this).attr('for', 'order' + i)
							$(this).find('input').attr('id', 'order' + i)
							if ($(this).find('input').is(':checked')) {
								$(this).find('img').attr('src', 'Resource/image/xuan1.png')
								$(this).parents('.order_detail').find('.del_order').removeClass('reduce')
							} else {
								$(this).find('img').attr('src', 'Resource/image/xuan.png')
								$(this).parents('.order_detail').find('.del_order').addClass('reduce')
							}
						})
					},
					getFile: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							var num = _this.src.length
							_this.$set(_this.src, num, {
								url: this.result
							})
						}
					},
					getImg: function() {
						$('.upload_input').click()
					},
					delImg: function(k) {
						this.src.splice(k, 1)
					},
					changeIndex: function(id) {
						this.orderId = id
						this.orderIndex = 6
					},
					editor: function() {
						$('.editor_tx').click()
					},
					editorImg: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.userPic = this.result
						}
					},
					//图片转成base64后压缩
					convertImgToBase64: function(url, callback, outputFormat) {
						//创建canvas画布
						var canvas = document.createElement('CANVAS');
						var ctx = canvas.getContext('2d');
						//创建img对象
						var img = new Image;
						img.crossOrigin = 'Anonymous';
						//图片加载
						img.onload = function() {
							var width = img.width;
							var height = img.height;
							// 按比例压缩4倍
							var rate = (width < height ? width / height : height / width) / 4;
							//设置画布的width和height
							canvas.width = width * rate;
							canvas.height = height * rate;
							//绘制图片
							ctx.drawImage(img, 0, 0, width, height, 0, 0, width * rate, height * rate);
							//压缩
							var dataURL = canvas.toDataURL(outputFormat || 'image/png');
							//清除画布
							canvas = null;
						};
						img.src = url;
						return img.src
					},
					dataURLtoFile: function(dataurl, filename) {
						var arr = dataurl.split(','),
							mime = arr[0].match(/:(.*?);/)[1],
							bstr = atob(arr[1]),
							n = bstr.length,
							u8arr = new Uint8Array(n);
						while (n--) {
							u8arr[n] = bstr.charCodeAt(n);
						}
						return new File([u8arr], filename, {
							type: mime
						});
					},
					handleSubmit: function(name) {
						var self = this
						this.$refs[name].validate(function(valid) {
							if (valid) {
								var uid = sessionStorage.getItem('uid')
								console.log(hex_md5(self.formModify.oldPass),hex_md5(self.formModify.newPass))
								var data = {
									uid: uid,
									oldPassword: hex_md5(self.formModify.oldPass),
									newPassword: hex_md5(self.formModify.newPass)
								}
								console.log(data);
								queryData('/editPassword', data, self.getPass)
								console.log(data);
								self.$Message.error('密码修改成功');
							} else {
								self.$Message.error('密码修改失败');
							}
						})
					},
					handleOldPhone: function(name) {
						var self = this
						this.$refs[name].validate(function(valid) {
							if (valid) {
								var data = {
									phone: self.formOldPhone.oldPhone,
									validate: self.formOldPhone.validateNum
								}
								console.log(data)
								queryData('/checkValidate', data, self.getOldPhone)
							} else {
								self.$Message.error('提交失败');
							}
						})
					},
					handleNewPhone: function(name) {
						var self = this
						this.$refs[name].validate(function(valid) {
							if (valid) {
								var uid = sessionStorage.getItem('uid')
								var data = {
									uid: uid,
									newPhone: self.formNewPhone.newPhone,
									validate: self.formNewPhone.validateNum
								}
								console.log(data)
								queryData('/editPhone', data, self.getNewPhone)
							} else {
								self.$Message.error('提交失败');
							}
						})
					},
					handleRegister: function(name) {
						var self = this
						this.$refs[name].validate(function(valid) {
							if (valid) {
								if (self.url_1 !== '') {
									self.formItem.imgUrl.push(self.url_1)
								}

								if (self.url_2 !== '') {
									self.formItem.imgUrl.push(self.url_2)
								}

								if (self.url_3 !== '') {
									self.formItem.imgUrl.push(self.url_3)
								}

								var data = {
									type: self.formItem.type,
									categoryId: self.formItem.choice,
									cityId: self.formItem.cityName[1],
									address: self.formItem.address,
									nickName: self.formItem.three,
									realName: self.formItem.linker,
									imgUrl: self.formItem.imgUrl
								}
								if (data.imgUrl.length < 3) {
									self.$Message.error('请上传图片');
									return
								} else {
									queryData('/joinShop', data, self.getJoin)
								}
							} else {
								self.$Message.error('申请服务商失败');
							}
						})
					},
					getJoin: function(res) {
						this.$Message.success('申请服务商成功');
					},
					getPass: function(res) {
						
						if (res.result == 0) {
							console.log("我的结果为0")
							this.$Message.success('密码修改成功')
							this.set_form = 0
						} else if (res.result == 1) {
							console.log("我的结果为1")
							console.log(res.resultNote);
							this.$Message.error('原密码错误')
						}
					},
					getOldNum: function() {
						var data = {
							phone: this.formOldPhone.oldPhone,
						}
						this.settime()
						queryData('/sendSms', data)
					},
					settime: function() {
						if (this.countdown == 0) {
							$('.zhezhao').siblings('.ivu-input-wrapper').find('.ivu-input-group-append').html("获取验证码");
							$('.zhezhao').hide();
							clearTimeout(this.timer);
							this.countdown = 60;
							return false;
						} else {
							$('.zhezhao').siblings('.ivu-input-wrapper').find('.ivu-input-group-append').html("重新发送" + this.countdown);
							$('.zhezhao').show();
							this.countdown--;
							var that = this;
							this.timer = setTimeout(function() {
								that.settime();
							}, 1000);
						}
					},
					getNewNum: function() {
						var data = {
							phone: this.formNewPhone.newPhone,
						}
						this.setPhone()
						queryData('/sendSms', data, this.suc)
					},
					setPhone: function() {
						if (this.phonedown == 0) {
							$('.shoumodel').siblings('.ivu-input-wrapper').find('.ivu-input-group-append').html("获取验证码");
							$('.shoumodel').hide();
							clearTimeout(this.phonetimer);
							this.phonedown = 60;
							return false;
						} else {
							$('.shoumodel').siblings('.ivu-input-wrapper').find('.ivu-input-group-append').html("重新发送" + this.phonedown);
							$('.shoumodel').show();
							this.phonedown--;
							var that = this;
							this.phonetimer = setTimeout(function() {
								that.setPhone();
							}, 1000);
						}
					},
					suc: function(res) {
						console.log(res)
					},
					getOldPhone: function(res) {
						if (res.check == 0) {
							console.log(res)
							this.set_form = 3
						} else if (res.check == 1) {
							console.log(res)
							this.$Message.error('验证码错误')
						}
					},
					getNewPhone: function(res) {
						if (res.result == 0) {
							console.log(res)
							this.set_form = 0
							this.$Message.success('手机绑定成功')
						} else if (res.result == 1) {
							console.log(res)
							this.$Message.error('绑定失败')
						}
					},
					getImg1: function(event, file, fileList) {
						console.log(event, file, fileList)
					},
					getAbout: function(item) {
						this.aboutIndex = item
					},
					getReview: function(item) {
						this.reviewIndex = item
					},
					getRadio: function(item) {
						this.radioIndex = item
					},
					changeUrl: function() {
						this.set_form = 1
					},
					passBack: function() {
						this.set_form = 0
					},
					changePhone: function() {
						this.set_form = 2
					},
					changeNext: function() {
						this.set_form = 3
					},
					//获取页面传递的参数
					getRequest: function(paras) {
						var url = location.href;
						var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
						var paraObj = {};
						for (var i = 0; j = paraString[i]; i++) {
							paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
						}
						var returnValue = paraObj[paras.toLowerCase()];
						if (typeof(returnValue) == "undefined") {
							return "";
						} else {
							return returnValue;
						}
					},
					//初始化消息数据接口
					initMsgData: function() {
						this.nowPage = 1
						var uid = sessionStorage.getItem('uid')
						var data = {
							uid: uid,
							page: 1,
							pageCount: 3
						}
						queryData('/msgList', data, this.getMsgData)
					},
					getMsgData: function(res) {
						if (res.dataList !== undefined) {
							this.msgItem = res.dataList
							this.msgPage = res.totalPage * 3
							//字符串截取截取多少数字后面跟省略号
							var self = this
							this.msgItem.forEach(function(ele, i) {
								ele.content = self.strSlice(ele.content)
							})
						}
					},
					//点击消息中心分页获取页面数据
					getPage: function(page) {
						var uid = sessionStorage.getItem("uid")
						this.nowPage = page
						var pageData = {
							uid: uid,
							page: page,
							pageCount: 3
						}
						queryData('/msgList', pageData, this.setMsgData)
					},
					setMsgData: function(res) {
						this.msgItem = []
						if (res.dataList !== undefined) {
							this.msgItem = res.dataList
							this.msgPage = res.totalPage * 3
							//字符串截取截取多少数字后面跟省略号
							var self = this
							this.msgItem.forEach(function(ele, i) {
								ele.content = self.strSlice(ele.content);
							})
						}
					},
					strSlice: function(value) {
						if(value.length > 120) {
							value = value.substring(0, 120) + '...';
							return value;
						}else{
							return value;
						}
					},
					//删除消息中心数据方法
					delMsg: function(id) {
						this.modalMsg = true;
						this.msgId = id;
					},
					delMsgData: function() {
						var that = this;
						queryData('/deleteMsg', {
							ids: that.msgId
						}, function(res){
							if(res.result == 0){
								that.getPage(that.nowPage)
							}
						});
					},
					//信息管理修改个人资料
					modifySelf: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							userName: this.userName,
							icon: this.userPic
						}
						console.log(data);
						queryData('/editUserInfo', data, this.modifyData)
					},
					modifyData: function(res) {
						this.$Message.success('修改成功')
					},
					//反馈意见
					subAbout: function() {
						if (this.suggest) {
							var uid = sessionStorage.getItem("uid")
							var data = {
								uid: uid,
								content: this.suggest
							}
							queryData('/feedback', data, this.feedData)
						} else {
							this.$Message.warning('反馈意见不能为空');
						}
					},
					feedData: function(res) {
						this.$Message.success('反馈成功')
						this.suggest = ''
					},
					//上传所需要的图片
					editor1: function() {
						$('.editor_btn1').click()
					},
					editor2: function() {
						$('.editor_btn2').click()
					},
					editor3: function() {
						$('.editor_btn3').click()
					},
					editorImg2: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_2 = this.result
						}
					},
					editorImg3: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_3 = this.result
						}
					},
					editorImg1: function(e) {
						var _this = this
						var ext = e.target.value.substring(e.target.value.lastIndexOf(".") + 1).toLowerCase()
						if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
							if (ext != '') {
								this.$Message.info("图片的格式必须为png或者jpg或者jpeg格式！");
							}
							return
						}
						var files = e.target.files[0]
						if (!e || !window.FileReader) return
						var reader = new FileReader()
						reader.readAsDataURL(files)
						reader.onloadend = function() {
							_this.url_1 = this.result
						}
					},
					//全部订单数据初始化
					allOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 0,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getAllOrder)
					},
					getAllOrder: function(res) {
						if (res.dataList !== undefined) {
							this.allList = res.dataList
							this.allPage = res.totalPage * 3
						}
					},
					getAllPage: function(page) {
						this.allCurrentPage = page
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 0,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.allBackPage)
					},
					allBackPage: function(res) {
						console.log(res)
						this.allList = []
						if (res.dataList !== undefined) {
							this.allList = res.dataList
							this.allPage = res.totalPage * 3
						}

						$('.all_order').find('input').each(function(i, ele) {
							$(this).attr("checked", false)
							$(this).siblings('img').attr('src', 'Resource/image/xuan.png')
						})
					},
					responseAllOrder: function(id) {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							orderId: id
						}
						queryData('/confirmOrder', data, this.responseAllOrderSuc)
					},
					responseAllOrderSuc: function() {
						this.$Message.success('订单确认成功')
						this.getAllPage(this.allCurrentPage)
						this.sureList = []
						this.sureOrder()
					},
					delAllOrder: function(id, event) {
						var el = event.currentTarget;
						if ($(el).parents('.order_detail').find('input').is(':checked')) {
							var uid = sessionStorage.getItem("uid")
							console.log(uid);
							var data = {
								uid: uid,
								orderId: id
							}
							queryData('/deleteOrder', data, this.delAllSuc)
						} else {
							return
						}
					},
					delAllSuc: function() {
						this.$Message.success('删除成功');
						this.getAllPage(this.allCurrentPage)
						this.payList = []
						this.payOrder()
					},
					delFinishedOrder: function(id, event) {
						var el = event.currentTarget
						if ($(el).parents('.order_detail').find('input').is(':checked')) {
							var uid = sessionStorage.getItem("uid")
							var data = {
								uid: uid,
								orderId: id
							}
							queryData('/deleteOrder', data, this.delAllFinishedSuc)
						} else {
							return
						}
					},
					delAllFinishedSuc: function() {
						this.$Message.success('删除成功');
						this.getAllPage(this.allCurrentPage)
						this.finishList = []
						this.finishOrder()
					},
					//支付订单数据初始化
					payOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 1,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getPayOrder)
					},
					getPayOrder: function(res) {
						if (res.dataList !== undefined) {
							this.payList = res.dataList
							this.payPage = res.totalPage * 3
						}
					},
					getPayPage: function(page) {
						this.payCurrentPage = page
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 1,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.modifyPay)
					},
					modifyPay: function(res) {
						this.payList = []
						if (res.dataList !== undefined) {
							this.payList = res.dataList
							this.payPage = res.totalPage * 3
						}

						$('.pay_order').find('input').each(function(i, ele) {
							$(this).attr("checked", false)
							$(this).siblings('img').attr('src', 'Resource/image/xuan.png')
						})
					},
					delPayOrder: function(id, event) {
						var el = event.currentTarget
						if ($(el).parents('.order_detail').find('input').is(':checked')) {
							var uid = sessionStorage.getItem("uid")
							var data = {
								uid: uid,
								orderId: id
							}
							queryData('/deleteOrder', data, this.delPaySuc)
						} else {
							return
						}
					},
					delPaySuc: function(res) {
						this.$Message.success('删除成功');
						this.getPayPage(this.payCurrentPage)
						this.allList = []
						this.allOrder()
					},
					//待受理订单数据初始化
					acceptOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 2,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getAcceptOrder)
					},
					getAcceptOrder: function(res) {
						if (res.dataList !== undefined) {
							this.acceptList = res.dataList
							this.acceptPage = res.totalPage * 3
						}
					},
					getAcceptPage: function(page) {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 2,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.modifyAcceptPage)
					},
					modifyAcceptPage: function(res) {
						this.acceptList = []
						if (res.dataList !== undefined) {
							this.acceptList = res.dataList
							this.acceptPage = res.totalPage * 3
						}
					},
					//待审核数据初始化
					verifyOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 3,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getVerifyOrder)
					},
					getVerifyOrder: function(res) {
						if (res.dataList !== undefined) {
							this.verifyList = res.dataList
							this.verifyPage = res.totalPage * 3
						}
					},
					getVerifyPage: function(page) {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 3,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.modifyVerifyOrder)
					},
					modifyVerifyOrder: function(res) {
						this.verifyList = []
						if (res.dataList !== undefined) {
							this.verifyList = res.dataList
							this.verifyPage = res.totalPage * 3
						}
					},
					//待确认订单数据初始化
					sureOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 4,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getSureOrder)
					},
					getSureOrder: function(res) {
						if (res.dataList !== undefined) {
							this.sureList = res.dataList
							this.surePage = res.totalPage * 3
						}
					},
					getSurePage: function(page) {
						this.sureCurrentPage = page
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 4,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.modifySureOrder)
					},
					modifySureOrder: function(res) {
						this.sureList = []
						if (res.dataList !== undefined) {
							this.sureList = res.dataList
							this.surePage = res.totalPage * 3
						}
					},
					//已完成订单数据初始化
					finishOrder: function() {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 5,
							page: 1,
							pageCount: 3
						}
						queryData('/orderList', data, this.getFinishOrder)
					},
					getFinishOrder: function(res) {
						if (res.dataList !== undefined) {
							this.finishList = res.dataList
							this.finishPage = res.totalPage * 3
						}
					},
					getFinishPage: function(page) {
						this.finishCurrentPage = page
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							type: 5,
							page: page,
							pageCount: 3
						}
						queryData('/orderList', data, this.modifyFinishPage)
					},
					modifyFinishPage: function(res) {
						this.finishList = []
						if (res.dataList !== undefined) {
							this.finishList = res.dataList
							this.finishPage = res.totalPage * 3
						}

						$('.finish_order').find('input').each(function(i, ele) {
							$(this).attr("checked", false)
							$(this).siblings('img').attr('src', 'Resource/image/xuan.png')
						})
					},
					delFinishOrder: function(id, event) {
						var el = event.currentTarget
						if ($(el).parents('.order_detail').find('input').is(':checked')) {
							var uid = sessionStorage.getItem("uid")
							var data = {
								uid: uid,
								orderId: id
							}
							queryData('/deleteOrder', data, this.delFinishSuc)
						} else {
							return
						}
					},
					delFinishSuc: function(res) {
						this.$Message.success('删除成功');
						this.getFinishPage(this.finishCurrentPage)
						this.allList = []
						this.allOrder()
					},
					//订单完成状态评价回复方法
					goComment: function() {
						var uid = sessionStorage.getItem("uid")
						var srcData = []
						if (this.src !== []) {
							for (var i = 0; i < this.src.length; i++) {
								srcData.push(this.src[i].url)
							}
						}
						if (this.finishComment == "") {
							this.$Message.warning('评价内容不能为空');
						} else {
							var data = {
								uid: uid,
								orderId: this.orderId,
								content: this.finishComment,
								score: this.starValue,
								images: srcData
							}
							queryData('/commentOrder', data, this.commentSubmit)
						}
					},
					commentSubmit: function() {
						this.$Message.success('提交成功')
						this.finishComment = ''
						this.src = []
					},
					//点击确认订单按钮方法
					responseOrder: function(id) {
						var uid = sessionStorage.getItem("uid")
						var data = {
							uid: uid,
							orderId: id
						}
						queryData('/confirmOrder', data, this.responseOrderSuc)
					},
					responseOrderSuc: function() {
						this.$Message.success('订单确认成功')
						this.getSurePage(this.sureCurrentPage)
						this.allList = []
						this.allOrder()
					},
					payOreder:function(orderId,amount){
						window.location.href = "pay.html?amount=" + amount + '&orderId=' + orderId;
					}
				}
			})
		</script>
	</body>

</html>
