body {
	background: #F8F8F8;
}

.list {
	width: 100%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	padding: 0.6rem 0.4rem 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper li {
	width: 4.3rem;
	height: 4.3rem;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin-bottom: 0.6rem;
}

.wrapper li img {
	width: 4.3rem;
	height: 4.3rem;
}

.title {
	height: 0.6rem;
	line-height: 0.6rem;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 0.2rem;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 12px;
}

/* .van-tabbar-item__icon img {
	width: 24px;
	height: 24px;
} */

[v-cloak] {
    display: none !important;
}
