<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>课程详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="stylesheet" href="css/demo.css" />
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/activity_detail.css" />
		<link rel="stylesheet" href="css/photoswipe.css" />
	</head>

	<body>
		<div id="app" class="list" v-cloak>
			<div class="navTop">
				课程详情
				<img class="back" src="./images/back_top.png" alt="" @tap="back" />
			</div>
			<div class="list_item" v-for="v in showData" style="margin-top: 44px;">
				<div class="list_mark">
					<div class="teacher">
						<div class="icon_img">
							<img v-if="v.teachericon != ''" v-lazy="v.teachericon" alt="" />
						</div>
						<h3>{{v.teachername}}</h3>
					</div>
					<span>{{v.time}}</span>
				</div>
				<p>{{v.lessoncontent}}</p>
				<template v-for="item in v.lessonImage">
					<img preview="0" v-lazy="item" alt="" />
				</template>
			</div>
		</div>

		<script src="js/flexible.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/lazyload.js"></script>
		<script src="js/photoswipe.js"></script>
		<script src="js/common.js"></script>
		<script src="js/app.js"></script>
		<script>
			//实现图片的懒加载方法
			Vue.use(VueLazyload, {
				loading: "./images/60x60.gif",
				listenEvents: ['scroll']
			});
			//实现图片预览放大功能
			var options = {
				fullscreenEl: false
			}
			Vue.use(vuePhotoPreview, options);
			var detail = new Vue({
				el: "#app",
				data: {
					list: [],
					allData: [],
					showData: [],
					count: 1
				},
				mounted: function() {
					this.onLoad();
				},
				methods: {
					back: function() {
						window.history.go(-1);
					},
					onLoad: function() {
						var state = app.getState();
						var uid = state.uid;
						var datas = {
							cmd: "lessonlist",
							uid: uid,
							nowPage: this.count
						}
						ajax(datas, this.successLoad);
					},
					successLoad: function(res) {
						if(res.result == 0) {
							this.count++;
							for(var i = 0; i < res.dataList.length; i++) {
								this.allData.push(res.dataList[i])
							}
							if(this.count <= res.totalPage) {
								var state = app.getState();
								var uid = state.uid;
								var datas = {
									cmd: "lessonlist",
									uid: uid,
									nowPage: this.count
								}
								ajax(datas, this.successLoad);
							} else {
								for(var i = 0; i < this.allData.length; i++) {
									if(this.allData[i].lessonid == GetQueryString('id')) {
										this.showData.push(this.allData[i]);
									}
								}
								detail.$previewRefresh();
							}
						}
					}
				}
			});
			mui.init();
		</script>
	</body>

</html>