<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>班级展示</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="stylesheet" href="css/demo.css" />
		<link rel="stylesheet" href="css/photoswipe.css" />
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/class_display.css" />
	</head>

	<body>
		<div id="app" class="list" v-cloak>
			<div class="navTop">
				班级展示
				<img class="back" src="./images/back_top.png" @tap="goBack" />
			</div>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="background: #FFFFFF;margin-top: 44px;">
				<div class="mui-scroll">
					<div class="list_all">
						<template v-for="(v,k) in arr1">
							<div class="list_item">
								<div class="list_img">
									<img v-if="v.teachericon != ''" v-lazy="v.teachericon" alt="" />
								</div>
								<div class="list_wrapper ">
									<div class="list_top ">
										<h3>{{v.teachername}}</h3>
										<span>{{v.time}}</span>
									</div>
									<p class="list_text ">{{v.classshowcontent}}</p>
									<template v-if="v.classshowcontent.length > 40">
										<span v-if="v.state == false" class="control" @tap="show(k)">展示</span>
										<span v-if="v.state == true" class="control" @tap="hide(k)">隐藏</span>
									</template>
									<div class="list_pic">
										<template v-if="v.classshowImage.length == 1" v-for="item in v.classshowImage">
											<img preview="0" style="width: 100%;height: auto !important;" v-lazy="item" alt="" />
										</template>
										<template v-if="v.classshowImage.length > 1" v-for="item in v.classshowImage">
											<img preview="0" v-lazy="item" alt="" />
										</template>
									</div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div v-if="show == 1" class="no">
				<img src="images/no.png" alt="" />
			</div>
		</div>

		<script src="js/flexible.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/lazyload.js"></script>
		<script src="js/photoswipe.js"></script>
		<script src="js/common.js"></script>
		<script src="js/app.js"></script>
		<script>
			//实现图片的懒加载方法
			Vue.use(VueLazyload, {
				loading: "./images/60x60.gif",
				listenEvents: ['scroll']
			});
			//实现图片预览放大功能
			var options = {
				fullscreenEl: false
			}
			Vue.use(vuePhotoPreview, options);
			var display = new Vue({
				el: "#app",
				data: {
					arr1: [],
					show: 0
				},
				methods: {
					goBack: function() {
						window.history.go(-1);
					}
				}
			});

			var count = 1;
			var len = 0;
			var num = 0;
			var list = [];

			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						auto: true,
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});

			function pullupRefresh() {
				var id = setInterval(function() {
					var state = app.getState();
					var uid = state.uid;
					if(uid == undefined) {
						return
					} else {
						clearInterval(id);
						var datas = {
							cmd: "classshowlist",
							uid: uid,
							nowPage: count,
							pageCount: "6"
						}
						ajax(datas, successLoad);
					}
				}, 400);
			}

			function successLoad(res) {
				if(res.result == 0) {
					if(res.dataList == undefined || res.dataList.length == 0) {
						display.show = 1;
						document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '0px';
						document.getElementsByClassName('mui-spinner')[0].style.height = '0px';
						document.getElementsByClassName('list')[0].style.height = '100%';
					} else if(res.dataList.length > 0) {
						display.show = 0;
						document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '15px';
						document.getElementsByClassName('mui-spinner')[0].style.height = '24px';
						for(var i = 0; i < res.dataList.length; i++) {
							list.push(res.dataList[i]);
						}
						var arr3 = JSON.parse(JSON.stringify(list));
						for(var i = len; i < arr3.length; i++) {
							display.arr1.push(arr3[i]);
							display.arr1[i].state = false;
							display.arr1[i].classshowcontent = strSlice(display.arr1[i].classshowcontent);
						}
						display.$previewRefresh();
						len += res.dataList.length;
						num = res.totalPage;
						console.log(display.arr1);
						mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > num));
					}
				}
			}

			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
				display.arr1 = [];
				list = [];
				len = 0;
				count = 1;
			}

			function strSlice(str) {
				if(str.length >= 40) {
					return str.substring(0, 40) + '...'
				} else {
					return str
				}
			}

			function show(item) {
				display.arr1[item].classshowcontent = list[item].classshowcontent;
				display.arr1[item].state = !display.arr1[item].state;
			}

			function hide(item) {
				var arr3 = JSON.parse(JSON.stringify(list));
				display.arr1[item].classshowcontent = strSlice(arr3[item].classshowcontent);
				display.arr1[item].state = !display.arr1[item].state;
			}
		</script>
	</body>

</html>