<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的收藏</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/demo.css" />
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/store.css" />
	</head>

	<body>
		<div id="app" class="list" v-cloak>
			<div class="navTop">
				我的收藏
				<img id="back" class="back" src="./images/back_top.png" @tap="goBack" />
			</div>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="background: #ffffff;margin-top: 44px;">
				<div class="mui-scroll">
					<div class="list_wrapper">
						<template v-for="(v,k) in list">
							<div class="list_item" v-if="v.informationImg.length == 1" @tap="open_detail(v.informationid)">
								<template v-for="item in v.informationImg">
									<img v-lazy="item" alt="" />
								</template>
								<div class="item_right">
									<p>{{v.informationtitle}}</p>
									<div class="comment">
										<div class="type">
											<span>{{v.zanNum}}点赞</span>
											<span style="margin-left: 0.1rem;">{{v.commentNum}}评论</span>
										</div>
										<span>{{v.adtime}}</span>
									</div>
								</div>
							</div>
							<div class="list_more" v-if="v.informationImg.length > 1" @tap="open_detail(v.informationid)">
								<p>{{v.informationtitle}}</p>
								<div class="list_img">
									<template v-for="item in v.informationImg">
										<img v-lazy="item" alt="" />
									</template>
								</div>
								<div class="comment" style="margin-top: 0.3rem;">
									<div class="type">
										<span>{{v.zanNum}}点赞</span>
										<span style="margin-left: 0.1rem;">{{v.commentNum}}评论</span>
									</div>
									<span>{{v.adtime}}</span>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div v-if="show == 1" class="no">
				<img src="images/no.png" alt="" />
			</div>
		</div>

		<script src="js/flexible.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/lazyload.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/app.js"></script>
		<script>
			//实现图片的懒加载方法
			Vue.use(VueLazyload, {
				loading: "./images/60x60.gif",
				listenEvents: ['touchmove']
			});
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						offset: '80px',
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						auto: true,
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			var infor = new Vue({
				el: "#app",
				data: {
					list: [],
					show: 0
				},
				methods: {
					goBack: function() {
						window.location.href = "./my.html";
					}
				}
			});

			var count = 1;
			var num = 0;

			function pullupRefresh() {
				var id = setInterval(function() {
					var state = app.getState();
					var uid = state.uid;
					if (uid == undefined) {
						return
					} else {
						clearInterval(id);
						var datas = {
							cmd: "getCollectList",
							uid: uid,
							nowPage: count,
							pageCount: "4"
						}
						ajax(datas, successLoad);
					}
				}, 200);
			}

			function successLoad(res) {
				if (res.result == 0) {
					//初始化获取资讯列表
					if (res.dataList == undefined || res.dataList.length == 0) {
						infor.show = 1;
						document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '0px';
						document.getElementsByClassName('mui-spinner')[0].style.height = '0px';
						document.getElementsByClassName('list')[0].style.height = '100%';
					} else if (res.dataList.length > 0) {
						infor.show = 0;
						document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '15px';
						document.getElementsByClassName('mui-spinner')[0].style.height = '24px';
						document.getElementsByClassName('list')[0].style.height = 'auto';
						for (var i = 0; i < res.dataList.length; i++) {
							infor.list.push(res.dataList[i]);
						}
					}
					num = res.totalPage;
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > num)); //参数为true代表没有更多数据了。
				}
			}

			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
				infor.list = [];
				count = 1;
			}

			function open_detail(id) {
				window.location.href = "./store_detail.html?id=" + id;
			}
		</script>
	</body>

</html>
