<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>班级展示</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/vant.css">
		<link rel="stylesheet" href="css/display.css">
		<link rel="stylesheet" href="css/photoswipe.css" />
		<style>
			.font {
				font-size: 0px !important;
			}
		</style>
	</head>

	<body>
		<div id="app" class="list" v-cloak>
			<div class="list_box">
				<template v-for="key in msg">
					<div id="public" class="public" @tap="goPublic">
						<img src="images/editor.png" alt="" />
					</div>
					<div id="user" class="user" @tap="goPerson">
						<div class="user_img">
							<img v-lazy="key.icon" alt="" />
						</div>
						<span>{{key.nickname}}</span>
					</div>
				</template>
			</div>
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="background: #FFFFFF;margin: 5rem 0 51px;">
				<div class="mui-scroll">
					<div class="list_item">
						<template v-for="(v,k) in arr1">
							<div class="item_box">
								<div class="list_user">
									<div class="list_img">
										<img class="mui-media-object" v-if="v.teachericon != ''" v-lazy="v.teachericon" />
									</div>
									<div class="list_top">
										<h3>{{v.teachername}}</h3>
										<span>{{v.time}}</span>
									</div>
								</div>
								<div class="list_wrapper">
									<p class="list_text ">{{v.classshowcontent}}</p>
									<template v-if="v.classshowcontent.length > 40">
										<span v-if="v.state == false" class="control" @tap="showText(k)">展示</span>
										<span v-if="v.state == true" class="control" @tap="hideText(k)">隐藏</span>
									</template>
									<div class="list_pic">
										<template v-if="v.classshowImage.length == 1" v-for="items in v.classshowImage">
											<img class="mui-media-object" preview="k" style="width: 100%;height: auto;" v-lazy="items" />
										</template>
										<img preview="k" class="mui-media-object" v-if="v.classshowImage.length > 1" 
										v-for="items in v.classshowImage" v-lazy="items" />
									</div>
									<div id="delete" @tap="del(k,v.classshowid)">删除</div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div v-if="show == 1" class="no">
				<img src="images/no.png" alt="" />
			</div>
			<nav-bar :active="active" @choice="choice"></nav-bar>
		</div>

		<script src="js/flexible.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vant.js"></script>
		<script src="js/lazyload.js"></script>
		<script src="js/photoswipe.js"></script>
		<script src="js/main.js"></script>
		<script src="js/common.js"></script>
		<script src="js/app.js"></script>
		<script>
			//实现图片的懒加载方法
			Vue.use(VueLazyload, {
				loading: "./images/60x60.gif",
				listenEvents: ['scroll']
			});
			//实现图片预览放大功能
			var options = {
				fullscreenEl: false
			}
			Vue.use(vuePhotoPreview, options);
			var count = 1;
			var len = 0;
			var num = 0;
			var list = [];
			var display = new Vue({
				el: "#app",
				data: {
					arr1: [],
					msg: [],
					show: 0,
					active: 3
				},
				mounted: function() {
					this.onLoad();
				},
				methods: {
					choice: function(item) {
						if(item == 0) {
							window.location.href = "./first.html";
						} else if(item == 1) {
							window.location.href = "./baby_two.html";
						} else if(item == 2) {
							window.location.href = "./classes.html";
						} else if(item == 3) {
							window.location.href = "./display.html";
						}
					},
					showText: function(item) {
						display.arr1[item].classshowcontent = list[item].classshowcontent;
						display.arr1[item].state = !display.arr1[item].state;
					},
					hideText: function(item) {
						var arr3 = JSON.parse(JSON.stringify(list));
						display.arr1[item].classshowcontent = strSlice(arr3[item].classshowcontent);
						display.arr1[item].state = !display.arr1[item].state;
					},
					onLoad: function() {
						//调用个人信息接口
						var id = setInterval(function() {
							var state = app.getState();
							var uid = state.uid;
							if(uid == undefined) {
								return
							} else {
								clearInterval(id);
								var msg = {
									cmd: "teachergetUserInfo",
									uid: uid
								}
								ajax(msg, successMsg);
							}
						}, 100);
					},
					pullupRefresh: function() {
						var that = this;
						var state = app.getState();
						var uid = state.uid;
						var datas = {
							cmd: "teacherclassshowlist",
							uid: uid,
							nowPage: count,
							pageCount: "6"
						}
						ajax(datas, that.successLoad);
					},
					successLoad: function(res) {
						if(res.result == 0) {
							num = res.totalPage;
							mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > num));
							if(res.dataList == undefined || res.dataList.length == 0) {
								display.show = 1;
								document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '0px';
								document.getElementsByClassName('mui-spinner')[0].style.height = '0px';
								document.getElementsByClassName('list')[0].style.height = '100%';
							} else if(res.dataList.length > 0) {
								display.show = 0;
								document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '15px';
								document.getElementsByClassName('mui-spinner')[0].style.height = '24px';
								for(var i = 0; i < res.dataList.length; i++) {
									list.push(res.dataList[i]);
								}
								var arr3 = JSON.parse(JSON.stringify(list));
								for(var i = len; i < arr3.length; i++) {
									display.arr1.push(arr3[i]);
									display.arr1[i].state = false;
									display.arr1[i].classshowcontent = strSlice(display.arr1[i].classshowcontent);
								}
								len += res.dataList.length;
							}
							display.$previewRefresh();
						}
					},
					del: function(item, ids) {
						var that = this;
						//删除信息操作
						this.$dialog.confirm({
							title: '信息',
							message: '确定删除此班级展示吗'
						}).then(() => {
							var state = app.getState();
							var uid = state.uid;
							var datas = {
								cmd: "teacherclassshowdelete",
								uid: uid,
								classshowid: ids
							}
							ajax(datas, function(res) {
								if(res.result == 0) {
									that.arr1.splice(item, 1);
									list.splice(item, 1);
									mui.toast('删除成功');
									if(that.arr1 == []) {
										display.show = 1;
										document.getElementsByClassName('mui-pull-caption')[1].style.fontSize = '0px';
										document.getElementsByClassName('mui-spinner')[0].style.height = '0px';
										document.getElementsByClassName('list')[0].style.height = '100%';
									}
								}
							});
						}).catch(() => {
							return;
						});
					},
					goPublic: function() {
						window.location.href = "./public.html";
					},
					goPerson: function() {
						window.location.href = "./person_center.html";
					}
				}
			});

			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						auto: true,
						contentrefresh: '正在加载...',
						callback: display.pullupRefresh
					}
				}
			});

			var page;
			var person;

			function successMsg(res) {
				if(res.result == 0) {
					display.msg.push(res.dataobject);
				}
			}

			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				mui('#pullrefresh').pullRefresh().enablePullupToRefresh();
				display.arr1 = [];
				list = [];
				len = 0;
				count = 1;
				display.pullupRefresh();
			}

			function strSlice(str) {
				if(str.length >= 40) {
					return str.substring(0, 40) + '...'
				} else {
					return str
				}
			}
		</script>
	</body>

</html>